@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:after,:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,code,form,fieldset,legend,textarea,p,th,td,input,select,textarea,button {
  margin: 0;
  padding: 0;
}

dl,ul,ol,menu,li {
  list-style: none;
}

address,caption,code,em,var {
  font-style: normal;
}

img,fieldset,iframe {
  border: 0 none;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}

audio,canvas,iframe,img,svg,video {
  vertical-align: middle;
}

input,select,textarea,button {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: button;
}

input[type="image"],input[type="text"],input[type="submit"],input[type="password"],input[type='search'] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

input:checked[type='checkbox'] {
  -webkit-appearance: checkbox;
  background-color: transparent;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

caption,legend {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

a {
  text-decoration: none;
  select-dummy: expression(this.hideFocus=true);
}

body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,button {
  /* font family, letter-spacing etc...*/
}

hr {
  display: none;
}

textarea,input {
  -webkit-apperence: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,main,menu {
  display: block;
}

q {
  quotes: none;
}

q:before,q:after {
  content: '';
  content: none;
}

sub {
  line-height: 0;
}

html,body {
  width: 100%;
}

ul:after,ol:after {
  content: '';
  clear: both;
  display: block;
}

/**
 * Copyright (c) 2015 Spoqa, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 * "Software"), to deal in the Software without restriction, including
 * without limitation the rights to use, copy, modify, merge, publish, * distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so, subject to
 * the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"), url("../fonts/SpoqaHanSansBold.woff2") format("woff2"), url("../fonts/SpoqaHanSansBold.woff") format("woff"), url("../fonts/SpoqaHanSansBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"), url("../fonts/SpoqaHanSansRegular.woff2") format("woff2"), url("../fonts/SpoqaHanSansRegular.woff") format("woff"), url("../fonts/SpoqaHanSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local("Spoqa Han Sans Light"), url("../fonts/SpoqaHanSansLight.woff2") format("woff2"), url("../fonts/SpoqaHanSansLight.woff") format("woff"), url("../fonts/SpoqaHanSansLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local("Spoqa Han Sans Thin"), url("../fonts/SpoqaHanSansThin.woff2") format("woff2"), url("../fonts/SpoqaHanSansThin.woff") format("woff"), url("../fonts/SpoqaHanSansThin.ttf") format("truetype");
}

/*******************************************
*    COMMON
********************************************/

html {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 14px;
  line-height: 1.8;
  color: #333333;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

p {
  letter-spacing: -0.7px;
}

i {
  font-style: italic;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

em.blue {
  color: #2a74e4;
}

em.red {
  color: #e02020;
}

em.gray {
  color: #888;
}

/*******************************************
*    INPUT
********************************************/

*::-webkit-input-placeholder {
  color: #cecece;
}

*:-ms-input-placeholder {
  color: #cecece;
}

*::-ms-input-placeholder {
  color: #cecece;
}

*::placeholder {
  color: #cecece;
}

*::-webkit-input-placeholder {
  color: #cecece;
}

*::-moz-placeholder {
  color: #cecece;
}

*:-ms-input-placeholder {
  color: #cecece;
}

*:-moz-placeholder {
  color: #cecece;
}

input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select {
  width: 100%;
  height: 54px;
  background-color: #fff;
  border: 1px solid #cecece;
  color: #333333;
  font-size: 1.286rem;
  font-weight: 400;
  line-height: 54px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 14px;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

input[type=color].center,input[type=date].center,input[type=datetime-local].center,input[type=datetime].center,input[type=email].center,input[type=month].center,input[type=number].center,input[type=password].center,input[type=search].center,input[type=tel].center,input[type=text].center,input[type=time].center,input[type=url].center,input[type=week].center,select.center {
  text-align: center;
  padding: 0;
}

input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,select:focus {
  outline: none;
  border-color: #2a74e4;
}

input[type=color]:invalid,input[type=date]:invalid,input[type=datetime-local]:invalid,input[type=datetime]:invalid,input[type=email]:invalid,input[type=month]:invalid,input[type=number]:invalid,input[type=password]:invalid,input[type=search]:invalid,input[type=tel]:invalid,input[type=text]:invalid,input[type=time]:invalid,input[type=url]:invalid,input[type=week]:invalid,select:invalid {
  border-color: #e02020;
  color: #e02020;
}

textarea {
  width: 100%;
  max-height: 200px;
  padding: 14px;
  line-height: 1.5;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.286rem;
  background-color: #fff;
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

textarea:focus {
  outline: none;
  border-color: #2a74e4;
}

textarea:invalid {
  border-color: #e02020;
  color: #e02020;
}

select::-ms-expand {
  display: none;
}

select {
  color: #cecece;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background: url("../images/select-arrow.png") no-repeat center right;
  -webkit-background-size: 26px 8px;
  background-size: 26px 8px;
}

select.active {
  color: #333333;
}

input[type="radio"],input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

input[type="radio"] + label,input[type="checkbox"] + label {
  color: #333333;
  cursor: pointer;
  font-size: 1.143rem;
  font-weight: 400;
}

input[type="radio"] + label + input[type="radio"] + label,input[type="radio"] + label + input[type="checkbox"] + label,input[type="checkbox"] + label + input[type="radio"] + label,input[type="checkbox"] + label + input[type="checkbox"] + label {
  margin-left: 26px;
}

input[type="radio"] + label:before,input[type="checkbox"] + label:before {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 8px 3px 0;
  vertical-align: middle;
  cursor: pointer;
  content: '';
}

input[type="radio"].sm + label + .sm + label {
  margin-left: 14px;
}

input[type="radio"].sm + label:before {
  width: 16px;
  height: 16px;
}

input[type="radio"] + label:before {
  background: url("../images/radio-off.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

input[type="radio"]:checked + label:before {
  background: url("../images/radio-on.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

input[type="radio"]:checked[disabled] + label:before {
  background: url(../images/radio-disabled.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

input[type="radio"][disabled] + label:before {
  opacity: 0.5;
}

input[type="checkbox"].kakao:checked + label:before {
  background: url("../images/check-on-kakao.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

input[type="checkbox"] + label:before {
  background: url("../images/check-off.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

input[type="checkbox"]:checked + label:before {
  background: url("../images/check-on.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

input[type="checkbox"][disabled] + label:before {
  opacity: 0.5;
}

input[disabled],select[disabled],option[disabled],textarea[disabled],button[disabled],a.disabled {
  background-color: #eaeaea;
  cursor: none;
}

.etc-input {
  display: none;
}

.etc-input.on {
  display: block;
}

.input-group {
  position: relative;
}

.input-group input[type="text"] {
  padding-right: 60px;
}

.input-group .unit {
  font-size: 1.286rem;
  position: absolute;
  top: 0;
  right: 14px;
  bottom: 0;
  margin: auto;
  line-height: 54px;
}

.input-item.bd + .bd {
  padding-top: 30px;
  border-top: 1px solid #cecece;
}

.input-item input + .txt-input-guide,.input-item select + .txt-input-guide {
  margin-top: 10px;
}

.input-item input + input,.input-item input + select,.input-item select + input,.input-item select + select {
  margin-top: 8px;
}

.input-item label {
  color: #666666;
  font-size: 1.143rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1;
}

.input-item label + input,.input-item label + select,.input-item label + .input-group,.input-item label + textarea {
  margin-top: 8px;
}

.input-item label + .txt-input-guide {
  margin-top: 10px;
  padding-left: 28px;
  color: #666666;
  font-size: 1rem;
}

.input-item label b {
  color: #333333;
  font-size: 1.286rem;
  font-weight: 700;
}

.input-item label em.blue {
  font-weight: 400;
  font-size: 1rem;
}

.input-item + .input-item {
  margin-top: 30px;
}

.input-item .row {
  position: relative;
  margin-top: 8px;
}

.input-item .row.cal .column {
  padding-right: 10px;
}

.input-item .row.cal .column + .column {
  padding-right: 0;
  padding-left: 10px;
}

.input-item .row.cal:before {
  content: '~';
  font-size: 1.286rem;
  position: absolute;
  width: 10px;
  height: 54px;
  line-height: 54px;
  left: 0;
  right: 0;
  margin: auto;
}

.input-item .row + input,.input-item .row + select {
  margin-top: 10px;
}

.input-item .row .column {
  padding-right: 10px;
}

.input-item .row .column + .column {
  padding-right: 0;
  padding-left: 10px;
}

.input-item + .txt-guide {
  margin-top: 20px;
}

.btn-item .btn + .btn {
  margin-top: 10px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 42px;
  height: 24px;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e1e1e1;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.switch .slider:before {
  position: absolute;
  left: 2px;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  content: "";
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.switch.on .slider {
  background-color: #2a74e4;
}

.switch.on .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.radio-ui-page {
  display: none;
  margin-top: 8px;
}

.radio-ui-page.on {
  display: block;
}

.like-input {
  display: block;
  font-size: 1.286rem;
  height: 54px;
  background-color: #fff;
  border: 1px solid #cecece;
  line-height: 54px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 14px;
}

.like-label {
  margin-bottom: 8px;
  *zoom: 1;
  display: block;
}

.like-label:after {
  content: '';
  display: block;
  clear: both;
}

.like-label em {
  font-size: 1rem;
  font-weight: 400;
}

.like-label label {
  float: left;
}

.like-label span {
  float: right;
}

.like-label span label {
  font-size: 1rem;
}

/*******************************************
*    LAYOUT
********************************************/

#container.use-footer .app-section:last-child {
  padding-bottom: 30px;
}

#container.use-logo {
  padding-top: 58px;
}

#container.use-sub {
  padding-top: 53px;
}

.app-section {
  padding-top: 35px;
  padding-bottom: 30px;
}

.app-section:last-child {
  padding-bottom: 90px;
}

.app-section.last-none {
  padding-bottom: 20px;
}

.app-section.block {
  border-bottom: 1px solid #e8e8e8;
}

.app-section.block .input-item + .input-item {
  margin-top: 24px;
}

.app-section.block.pb0 {
  padding-bottom: 0;
  border-bottom: 0;
}

.app-section.block.pb0 .app-inner {
  margin-bottom: 28px;
}

.app-section.block .tit-txt {
  margin-bottom: 8px;
}

.app-section.block + .block {
  margin-top: 16px;
}

.app-section.block + .fix-inner.block {
  margin-top: 0;
  padding-top: 20px;
}

.app-section.block.advice .tit-txt {
  margin-bottom: 30px;
}

.app-section.block.advice .txt-guide {
  margin-bottom: 10px;
}

.txt-guide {
  position: relative;
}

.txt-guide .like-label {
  position: absolute;
  top: 0;
  right: 18px;
  color: #666666;
  text-decoration: underline;
}

.txt-guide + .txt-guide {
  margin-top: 10px;
}

.app-inner {
  padding: 0 18px;
}

.app-inner .txt-guide {
  padding: 0;
}

.app-inner .txt-guide + .row {
  margin-top: 8px;
}

.app-inner .cont + .cont {
  margin-top: 30px;
}

.fix-inner {
  width: 100%;
  padding: 0 18px;
  z-index: 10;
}

.fix-inner.mt0 {
  margin-top: -1px !important;
}

.fix-inner.fix {
  position: fixed;
  bottom: 20px;
}

.fix-inner.scroll-fix {
  position: fixed;
  bottom: 0;
  padding: 20px 18px;
  background-color: #fff;
}

.fix-inner.block {
  background: #fff;
  padding-bottom: 20px;
  padding-top: 10px;
}

.fix-inner.block .added {
  margin-bottom: 6px;
}

.fix-inner.row .column .added {
  padding-top: 0;
}

.fix-inner.row .column + .column {
  margin-left: 6px;
}

.fix-inner.row.col-1 .column {
  width: 100%;
}

.fix-inner.row.col-2 .column {
  width: -webkit-calc(50% - 3px);
  width: calc(50% - 3px);
}

.fix-inner.row.col-3 .column {
  width: 33.33%;
}

.fix-inner.row.col-4 .column {
  width: 25%;
}

.row {
  *zoom: 1;
  display: block;
}

.row:after {
  content: '';
  display: block;
  clear: both;
}

.row .column-r {
  float: right;
}

.row .column-l {
  float: left;
}

.row.center {
  text-align: center;
}

.row.center .column {
  display: inline-block;
  float: none;
}

.row.right {
  text-align: right;
}

.row.right .column {
  display: inline-block;
  float: none;
}

.row .column {
  float: left;
  word-break: break-all;
}

.row .column.relative {
  position: relative;
}

.row.col-1 .column {
  width: 100%;
}

.row.col-2 .column {
  width: 50%;
}

.row.col-3 .column {
  width: 33.33%;
}

.row.col-4 .column {
  width: 25%;
}

ul.col-1 li,ol.col-1 li {
  width: 100%;
}

ul.col-2 li,ol.col-2 li {
  width: 50%;
}

ul.col-3 li,ol.col-3 li {
  width: 33.33%;
}

ul.col-4 li,ol.col-4 li {
  width: 25%;
}

ul.col-5 li,ol.col-5 li {
  width: 20%;
}

ul.col-6 li,ol.col-6 li {
  width: 16.66667%;
}

ul.col-7 li,ol.col-7 li {
  width: 14.285714%;
}

ul.col-8 li,ol.col-8 li {
  width: 12.5%;
}

ul.col-9 li,ol.col-9 li {
  width: 11.11111%;
}

ul.col-10 li,ol.col-10 li {
  width: 10%;
}

ul.col-11 li,ol.col-11 li {
  width: 9.090909%;
}

ul.col-12 li,ol.col-12 li {
  width: 8.33333%;
}

.bg-gray {
  background-color: #f8f8f8;
}

.bg-gray .app-section {
  background-color: #fff;
}

.vertical-layout {
  display: table;
  width: 100%;
}

.vertical-layout-inner {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

/*******************************************
*    GUI
********************************************/

.btn {
  display: block;
  min-width: 100%;
  min-height: 54px;
  line-height: 54px;
  background-color: #2a74e4;
  color: #fff;
  font-size: 1.286rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn:active {
  opacity: 0.9;
}

.btn.natural {
  background-color: #888888;
}

.btn.light {
  font-weight: 400;
  color: #333333;
  background-color: #eaeaea;
}

.btn.line {
  background-color: #fff;
  border: 1px solid #2a74e4;
  color: #2a74e4;
}

.btn.line.sm {
  color: #2a74e4;
  font-weight: 400;
}

.btn.sm {
  display: inline-block;
  height: auto;
  min-height: 32px;
  line-height: 32px;
  font-size: 1rem;
  min-width: 120px;
  font-weight: 400;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 0 20px;
}

.btn.sm.call:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/ico-call-blue.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align: middle;
  margin-right: 7px;
}

.btn.txt {
  display: inline-block;
  height: auto;
  min-height: inherit;
  min-width: inherit;
  line-height: inherit;
  background: none;
  font-weight: 400;
  color: #888;
  text-decoration: underline;
  font-size: 1rem;
  letter-spacing: -0.5px;
}

.btn.yellow {
  background-color: #ffe100;
  color: #3c1e1e;
  font-size: 1.143rem;
}

.btn.kakao {
  background-color: #ffe100;
  color: #3c1e1e;
  font-size: 1.143rem;
  position: relative;
}

.btn.kakao:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 22px;
  bottom: 0;
  width: 22px;
  height: 20px;
  margin: auto;
  background: url("../images/ico-kakao.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btn.added {
  color: #888;
  font-size: 1rem;
  background-color: #fff;
  min-height: 44px;
  line-height: 44px;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-top: 12px;
}

.btn.added.bd {
  border-top: 1px solid #e8e8e8;
}

.btn.added.blue {
  color: #2a74e4;
}

.btn.added span {
  font-size: 1.429rem;
  position: relative;
  top: 2px;
  margin-right: 6px;
}

.dim {
  display: none;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-filter: blur(10);
  filter: blur(10);
}

/*******************************************
*    Header/Footer
********************************************/

header {
  background-color: #fff;
}

header.fixed {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
}

header h1 {
  display: block;
  text-indent: -9999px;
  font-size: 0;
}

header .header-logo {
  width: 153px;
  height: 24px;
  margin-top: 44px;
}

header .header-sub {
  *zoom: 1;
  display: block;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}

header .header-sub:after {
  content: '';
  display: block;
  clear: both;
}

header .header-sub h2 a {
  display: inline-block;
  padding: 8px 0;
  color: #333333;
  font-size: 1.429rem;
}

header .header-sub h2 a:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 9px;
}

header .header-sub h2 a.back:before {
  width: 16px;
  height: 16px;
  background: url("../images/ico-back.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

header .header-sub .txt-link {
  position: absolute;
  top: 0;
  right: 18px;
  height: 52px;
  line-height: 52px;
  color: #333333;
  font-size: 1.143rem;
}

footer {
  background: #f8f8f8;
  padding: 30px 0 30px;
  border-top: 1px solid #dedede;
}

footer .logo {
  width: 130px;
  height: 20px;
}

footer ul {
  margin-top: 16px;
}

footer ul li {
  color: #888;
  font-size: 0.857rem;
  line-height: 1.4;
}

.btm-bar {
  position: fixed;
  z-index: 9;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top: 1px solid #e8e8e8;
  height: 60px;
}

.btm-bar .gnb {
  height: 100%;
}

.btm-bar .gnb ul {
  height: 100%;
}

.btm-bar .gnb ul li {
  height: 100%;
  display: table;
  text-align: center;
}

.btm-bar .gnb ul li a {
  display: table-cell;
  vertical-align: middle;
}

.btm-bar .gnb ul li a span {
  display: block;
  color: #666666;
  font-size: 0.714rem;
  font-weight: 400;
}

.btm-bar .gnb ul li a span:before {
  display: block;
  content: '';
  height: 24px;
  width: 24px;
  margin: auto auto 3px auto;
}

.btm-bar .gnb ul li.home span:before {
  background: url("../images/ico-home-nor.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.results span:before {
  background: url("../images/ico-results-nor.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.loan span:before {
  background: url("../images/ico-loan-nor.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.my span:before {
  background: url("../images/ico-my-nor.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.about span:before {
  background: url("../images/ico-about-nor.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.on a span {
  color: #2a74e4;
}

.btm-bar .gnb ul li.on.home span:before {
  background: url("../images/ico-home-sel.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.on.results span:before {
  background: url("../images/ico-results-sel.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.on.loan span:before {
  background: url("../images/ico-loan-sel.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.on.my span:before {
  background: url("../images/ico-my-sel.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.btm-bar .gnb ul li.on.about span:before {
  background: url("../images/ico-about-sel.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

/*******************************************
*    Component
********************************************/

.tit-txt + .txt-list-tab {
  margin-top: 15px !important;
}

.txt-list-tab + .app-inner {
  margin-top: 30px;
}

.txt-list-tab ul {
  border-bottom: 1px solid #eaeaea;
}

.txt-list-tab ul li {
  height: 100%;
}

.txt-list-tab ul li a {
  display: block;
  line-height: 40px;
  color: #666666;
  font-size: 1.143rem;
  font-weight: 400;
  text-align: center;
}

.txt-list-tab ul li.on a {
  position: relative;
  color: #2a74e4;
}

.txt-list-tab ul li.on a:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #2a74e4;
  position: absolute;
  bottom: 0;
  left: 0;
}

.txt-list-tab.rounded {
  margin: 20px 0;
}

.txt-list-tab.rounded ul {
  width: 208px;
  margin: auto;
  background-color: #2a74e4;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.txt-list-tab.rounded ul li {
  padding: 2px;
}

.txt-list-tab.rounded ul li a {
  color: #fff;
  font-size: 0.857rem;
  line-height: 24px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: -0.3px;
}

.txt-list-tab.rounded ul li.on a {
  background-color: #fff;
  color: #2a74e4;
}

.txt-list-tab.rounded ul li.on a:before {
  content: none;
}

.txt-btn-right {
  *zoom: 1;
  display: block;
}

.txt-btn-right:after {
  content: '';
  display: block;
  clear: both;
}

.txt-btn-right .btn {
  float: right;
}

.txt-btn-right .btn.txt em {
  font-size: 1.143rem;
  font-weight: 700;
}

.txt-input-guide {
  font-size: 1.143rem;
  line-height: 1.5;
  font-weight: 300;
}

.txt-guide {
  font-size: 1rem;
  color: #888;
  letter-spacing: -0.5px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 18px 0;
}

.txt-guide .data-logo {
  height: 34px;
}

.txt-guide .data-logo + p {
  margin-top: 8px;
}

.txt-guide .desc {
  font-size: 1.143rem;
  line-height: 1.5;
  color: #333333;
  margin: 15px 0 8px;
}

.txt-guide dl {
  *zoom: 1;
  display: block;
  margin-top: 8px;
}

.txt-guide dl:after {
  content: '';
  display: block;
  clear: both;
}

.txt-guide dl.full dd {
  float: right;
}

.txt-guide dl.full .tit-txt {
  margin-bottom: 10px;
}

.txt-guide dl dt,.txt-guide dl dd {
  font-size: 1.286rem;
  font-weight: 700;
  float: left;
}

.txt-guide dl dt {
  color: #333333;
}

.txt-guide dl dd {
  color: #2a74e4;
  margin-left: 10px;
}

.txt-guide + .app-inner {
  margin-top: 30px;
}

.txt-guide b {
  font-weight: 700;
  color: #333333;
  font-size: 1.143rem;
  display: block;
  margin-bottom: 10px;
}

.txt-guide em {
  font-weight: 700;
  color: #666666;
  font-size: 1.143rem;
  display: block;
}

.txt-guide + .txt-list-tab {
  margin-top: 14px;
}

.tit-main {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
}

.tit-txt {
  color: #333333;
  font-size: 1.429rem;
  font-weight: 700;
  margin-bottom: 30px;
  *zoom: 1;
  display: block;
}

.tit-txt:after {
  content: '';
  display: block;
  clear: both;
}

.tit-txt .btn.txt {
  float: right;
  line-height: 2;
}

.tit-txt.md {
  font-size: 1.286rem;
}

.tit-txt.sm {
  margin-top: 20px;
  font-size: 1.143rem;
}

.tit-txt.tight {
  margin-bottom: 8px;
}

.tit-txt + p {
  font-size: 1.286rem;
  line-height: 1.5;
}

.tit-txt + .txt-guide {
  font-size: 1rem;
  color: #888;
  letter-spacing: -0.5px;
  font-weight: 300;
  line-height: 1.5;
}

.tit-txt + .page-view {
  padding-top: 20px;
}

.tit-sub {
  color: #333333;
  font-weight: 700;
  font-size: 1.143rem;
  padding-top: 20px;
}

.tit-sub em {
  display: block;
  color: #888;
  font-size: 1rem;
  font-weight: 400;
}

.tit-sub .btn-tit {
  position: relative;
}

.tit-sub .btn-tit .btn.txt {
  position: absolute;
  right: 0;
  top: 0;
}

.tbl table {
  width: 100%;
}

.tbl table thead tr th {
  padding: 5px 0;
  color: #888;
  font-size: 1rem;
  font-weight: 400;
}

.tbl table tbody td {
  padding: 0 3px;
  color: #333333;
  font-size: 1.143rem;
  letter-spacing: -1px;
}

.tbl table tbody td a {
  color: #333333;
}

.tbl table tbody td .tbl-arrow.on span:before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.tbl table tbody td .tbl-arrow span {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

.tbl table tbody td .tbl-arrow span:before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 14px;
  margin-top: -7px;
  background: url(../images/ico-arrow-r.png) no-repeat 0 0;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  content: "";
}

.tbl table tbody td .ipt-cut {
  overflow: hidden;
  max-width: 140px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbl table tbody td .ipt-cut input[type="checkbox"] + label:before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url(../images/check-tetragon-off.png) no-repeat 0 0;
  -webkit-background-size: contain;
  background-size: contain;
}

.tbl table tbody td .ipt-cut input[type="checkbox"]:checked + label:before {
  background: url("../images/check-tetragon-on.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.tbl table .ta-r {
  text-align: right;
}

.tbl.primary {
  border: 1px solid #f3faff;
}

.tbl.primary th {
  color: #2a74e4;
  font-weight: 400;
  background-color: #f3faff;
}

.tbl.primary th,.tbl.primary td {
  padding: 8px 4px;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}

.tbl.primary tbody td p span {
  display: block;
  margin-top: 6px;
  color: #888;
  font-size: 0.857rem;
}

.help {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  background: url("../images/ico-help.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-left: 4px;
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}

.help.on .help-inner {
  display: block;
}

.help-inner {
  display: none;
  min-width: 280px;
  max-width: 100%;
  position: absolute;
  bottom: 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.72);
  padding: 20px;
}

.help-inner:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 16px;
  height: 11px;
  background: url("../images/tooltip-arrow.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.help-inner p {
  color: #fff;
  font-size: 1.286rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.5px;
}

.help-inner p b {
  color: #fff;
  font-weight: 700;
}

.help-inner p + p {
  margin-top: 10px;
}

.help-inner.left {
  left: -20px;
}

.help-inner.right {
  right: -20px;
}

.help-inner.right:after {
  right: 20px;
}

.help-inner.max {
  min-width: 340px;
  right: -82px;
}

.help-inner.max:after {
  right: 82px;
}

.ico {
  text-indent: -999rem;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}

.ico:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 15px;
}

.ico.more:before {
  width: 10px;
  height: 18px;
  background: url(../images/ico-arrow-r.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.list-scenario {
  margin-bottom: 20px;
}

.list-scenario ul li + li {
  margin-top: 18px;
}

.list-inv-analysis .inv-inner {
  padding: 15px 0;
}

.list-inv-analysis ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.list-inv-analysis ul li a:after {
  content: '';
  display: block;
  width: 10px;
  height: 18px;
  background: url(../images/ico-arrow-r.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.list-inv-analysis ul li span {
  display: inline-block;
  background-color: #5c7cfa;
  color: #fff;
  font-size: 0.857rem;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.list-inv-analysis ul li span.green {
  background-color: #94d82d;
}

.list-inv-analysis ul li span.red {
  background-color: #ff6b6b;
}

.list-inv-analysis ul li span.date {
  font-size: 1rem;
  color: #888;
  background: none;
}

.list-inv-analysis ul li p {
  color: #333333;
  font-size: 1.143rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  line-height: 1.4;
}

.list-inv-analysis ul li p em {
  display: block;
  margin-top: 10px;
  color: #888;
  font-weight: 400;
  font-size: 1rem;
}

.list-address {
  margin-top: 20px;
}

.list-address > li a {
  display: block;
  width: 100%;
  height: 100%;
}

.list-address > li a .address-tit {
  color: #333333;
  font-weight: 700;
  font-size: 1.143rem;
}

.list-address > li + li {
  margin-top: 31px;
}

.list-address-kind {
  margin-top: 4px;
}

.list-address-kind li {
  color: #666666;
}

.list-address-kind .address-mark {
  display: inline-block;
  text-align: center;
  color: #2a74e4;
  font-size: 0.857rem;
  min-width: 42px;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  background-color: #e9f2ff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 4px;
}

.list-terms li {
  margin-top: 20px;
  min-height: 30px;
  line-height: 30px;
  position: relative;
}

.list-terms li.padding {
  padding-left: 26px;
}

.list-terms li .input-item input[type="checkbox"] + label {
  font-size: 1.286rem;
}

.list-terms li .ico {
  position: absolute;
  right: -9px;
  top: 0;
  margin: auto;
}

.list-info li {
  padding-bottom: 10px;
}

.list-info li + li {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.list-info li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.list-info li a:before {
  content: '';
  display: block;
  width: 10px;
  height: 18px;
  background: url(../images/ico-arrow-r.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 26px;
  bottom: 0;
  right: 0;
  margin: auto;
}

.list-info li a em {
  display: block;
  margin-bottom: 8px;
}

.list-info li a .info-address {
  color: #333333;
  font-size: 1.143rem;
  font-weight: 700;
  line-height: 1.5;
}

.list-info li a .info-date {
  display: block;
  color: #888;
  margin-top: 8px;
}

.list-suggestion {
  padding-top: 20px;
}

.list-suggestion li {
  border-top: 1px solid #eaeaea;
  padding: 20px 0;
}

.list-suggestion li .data-logo {
  height: 26px;
}

.list-suggestion li .dl-base {
  *zoom: 1;
  display: block;
}

.list-suggestion li .dl-base:after {
  content: '';
  display: block;
  clear: both;
}

.list-suggestion li .dl-base dt,.list-suggestion li .dl-base dd {
  line-height: 1;
}

.list-suggestion li .dl-base dt {
  width: 60%;
  float: left;
  font-size: 1.143rem;
}

.list-suggestion li .dl-base dt b {
  margin-left: 10px;
}

.list-suggestion li .dl-base dd {
  width: 40%;
  text-align: right;
  float: right;
}

.list-suggestion li .dl-base dd .btn.txt {
  line-height: 2;
}

.list-suggestion li .dl-base + dl {
  margin-top: 10px;
}

.list-suggestion li .dl-base + .row {
  margin-top: 20px;
}

.list-suggestion li .dl-base + .row .btn {
  display: inline-block;
  width: auto;
}

.list-suggestion li:last-child {
  padding-bottom: 0;
}

.list-suggestion li .call {
  margin-top: 10px;
}

.list-sub-account {
  margin-top: 20px;
}

.list-sub-account dl dt,.list-sub-account dl dd {
  font-size: 1.143rem;
  font-weight: 400;
}

.list-sub-account dl dd {
  float: right;
  color: #888;
}

.list-table {
  *zoom: 1;
  display: block;
  padding: 3px 12px;
}

.list-table:after {
  content: '';
  display: block;
  clear: both;
}

.list-table dt,.list-table dd {
  font-size: 1.143rem;
}

.list-table dt {
  float: left;
  color: #666;
}

.list-table dd {
  float: right;
}

.dl-vertical-row {
  *zoom: 1;
  display: block;
}

.dl-vertical-row:after {
  content: '';
  display: block;
  clear: both;
}

dl.result-price {
  position: relative;
  display: table;
  width: 100%;
  margin-top: 10px;
}

dl.result-price dt,dl.result-price dd {
  line-height: 20px;
}

dl.result-price dt {
  font-size: 0.857rem;
  color: #666666;
  font-weight: 700;
}

dl.result-price .btn.txt {
  position: absolute;
  top: 0;
  right: 0;
}

dl.dl-horizen {
  *zoom: 1;
  display: block;
}

dl.dl-horizen:after {
  content: '';
  display: block;
  clear: both;
}

dl.dl-horizen dt {
  float: left;
}

dl.dl-horizen dd {
  float: right;
  color: #888;
}

dl.dl-vertical {
  float: left;
  margin-top: 20px;
  margin-bottom: 8px;
}

dl.dl-vertical + .dl-vertical {
  margin-left: 20px;
}

dl.dl-vertical dt {
  color: #888;
  font-size: 0.857rem;
}

dl.dl-vertical dd {
  font-weight: 600;
  font-size: 1.286rem;
}

.join-main .logo {
  width: 212px;
  height: 34px;
  margin-bottom: 36px;
}

.join-main .img-main {
  margin: 86px 0 98px;
}

.join-main .vertical-layout {
  min-height: 100vh;
}

.join-main .app-section:last-child {
  padding-bottom: 30px;
}

.join-main .fix-inner {
  bottom: 20px;
}

.terms-box {
  overflow: auto;
  margin-top: 8px;
  max-height: 136px;
  padding: 18px;
  background-color: rgba(248, 248, 248, 0.5);
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.terms-box p {
  color: #666;
  line-height: 1.5;
}

.terms-box + .input-item {
  margin-top: 10px;
}

.terms-box.norounded {
  -webkit-border-radius: 0;
  border-radius: 0;
  max-height: inherit;
  overflow: inherit;
}

.terms-box.memo {
  overflow: inherit;
  max-height: inherit;
}

.terms-box.memo p {
  font-size: 1.143rem;
  line-height: 1.6;
}

.null {
  display: table;
  width: 100%;
  text-align: center;
}

.null + .btn {
  margin-top: -26px;
}

.null.fix {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.null-inner {
  display: table-cell;
  vertical-align: middle;
}

.null p {
  margin-top: 40px;
  color: #888;
  font-size: 1rem;
}

.app-main .logo {
  width: 153px;
  height: 24px;
  margin-bottom: 36px;
}

.app-main .null {
  padding: 60px 0;
}

.img-main {
  margin: 72px 0 50px;
  padding: 0 12px;
  text-align: center;
}

.img-main img {
  display: block;
  margin: auto;
}

.img-main img.ani {
  -webkit-animation: bounce .5s ease-out alternate infinite;
  animation: bounce .5s ease-out alternate infinite;
  z-index: 10;
}

.main-slider .img-main {
  margin: 0;
  padding-top: 72px;
}

.main-slider .slick-dots {
  *zoom: 1;
  display: inline-block;
}

.main-slider .slick-dots:after {
  content: '';
  display: block;
  clear: both;
}

.main-slider .slick-dots-box {
  text-align: center;
  margin-top: 18px;
}

.main-slider .slick-dots li {
  float: left;
}

.main-slider .slick-dots li.slick-active button {
  background: #2a74e4;
}

.main-slider .slick-dots li button {
  width: 6px;
  height: 6px;
  background: #cecece;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-indent: -9999px;
}

.main-slider .slick-dots li + li {
  margin-left: 6px;
}

.scroll-ui-bar {
  background: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.scroll-ui-bar .tit-txt {
  line-height: 1.4;
}

.scroll-ui-bar .btn-group {
  *zoom: 1;
  display: block;
}

.scroll-ui-bar .btn-group:after {
  content: '';
  display: block;
  clear: both;
}

.scroll-ui-bar .btn-item {
  margin-top: 20px;
}

.scroll-ui-bar.fix {
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 53px;
  z-index: 9;
}

.scroll-ui-bar.fix .btn-item {
  display: inline-block;
  float: left;
  margin-top: 10px;
}

.scroll-ui-bar.fix .btn-item + .btn-item {
  float: right;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
}

/*******************************************
*    Library
********************************************/

.ui-widget {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {
  color: #ff6b6b;
}

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a.ui-state-active {
  color: #fff;
}

.ui-datepicker {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

.ui-datepicker .ui-widget-header {
  background: none;
  border: none;
  padding: 0;
}

.ui-datepicker .ui-widget-header .ui-datepicker-title {
  margin: 0;
  *zoom: 1;
  display: block;
}

.ui-datepicker .ui-widget-header .ui-datepicker-title:after {
  content: '';
  display: block;
  clear: both;
}

.ui-datepicker .ui-widget-header .ui-datepicker-title,.ui-datepicker .ui-widget-header .ui-datepicker-title span {
  color: #333333;
  font-size: 1.429rem;
  font-weight: 700;
  padding-left: 8px;
}

.ui-datepicker .ui-widget-header .ui-datepicker-next,.ui-datepicker .ui-widget-header .ui-datepicker-prev {
  display: none;
}

.ui-datepicker td {
  color: #333333;
  padding: 0;
}

.ui-datepicker th {
  font-size: 1rem;
  font-weight: 400;
  color: #888;
  opacity: 0.5;
  padding: 3px 0;
}

.ui-datepicker .ui-state-default {
  padding: 0;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: none;
  text-align: center;
}

.ui-datepicker .ui-state-default.ui-state-highlight {
  background: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
}

.ui-datepicker .ui-state-default.ui-state-highlight.ui-state-hover {
  opacity: 1;
}

.ui-datepicker .ui-state-default.ui-state-active {
  background: #2a74e4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
}

.ui-datepicker .ui-state-default.ui-state-active.ui-state-hover {
  opacity: 1;
}

.ui-datepicker .ui-state-default.ui-state-hover {
  opacity: 0.5;
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
  color: #333333;
  font-weight: 700;
  border: none;
  width: auto;
  float: left;
  padding-left: 0;
  padding-right: 30px;
  margin-right: 10px;
}

.datepicker-page .datepicker {
  width: 100%;
}

.datepicker-page .datepicker .ui-datepicker-inline {
  width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

/*******************************************
*    MYPAGE
********************************************/

#container.mypage-container .app-section {
  padding: 0 18px;
}

#container.mypage-container .app-section .app-inner {
  padding: 10px 0 0;
}

#container.mypage-container .app-section ul.link-lst li {
  padding: 0;
}

#container.mypage-container .app-section ul.link-lst li.user-cont {
  padding: 0;
}

#container.mypage-container .app-section ul.link-lst li.user-cont a {
  padding: 17px 0 27px;
}

#container.mypage-container .app-section ul.link-lst li a {
  padding: 17px 30px 17px 0;
  word-break: keep-all;
}

#container.mypage-container .app-section ul li {
  position: relative;
  padding: 17px 0;
  color: #333333;
  font-size: 1.286rem;
  font-weight: 700;
  border-bottom: 1px solid #f8f8f8;
}

#container.mypage-container .app-section ul li.user-cont {
  padding: 17px 0 27px;
}

#container.mypage-container .app-section ul li.user-cont a {
  font-size: 1.429rem;
}

#container.mypage-container .app-section ul li.user-cont a span {
  margin-left: 4px;
  color: #666666;
  font-size: 1.000rem;
  font-weight: 400;
  text-decoration: underline;
}

#container.mypage-container .app-section ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333333;
}

#container.mypage-container .app-section ul li .switch {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
}

.down-slide li.on a:before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "";
}

.down-slide li a {
  font-size: 1.143rem;
  font-weight: 700;
}

.down-slide li a:before {
  position: absolute;
  top: 23px;
  right: 11px;
  width: 10px;
  height: 18px;
  background: url(../images/ico-arrow-r.png) no-repeat 0 0;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  content: "";
}

.down-slide li .down-slide-inner {
  display: none;
  overflow: hidden;
  padding-bottom: 20px;
}

.down-slide li .down-slide-inner p {
  font-size: 1.143rem;
  font-weight: 400;
  word-break: keep-all;
}

.zd-service {
  margin-top: 30px;
}

.zd-service p span {
  display: block;
  line-height: 1.9;
  font-size: 1.000rem;
}

.zd-service p span + span {
  margin-top: 26px;
}

/*******************************************
*    분석내역
********************************************/

.profit-box {
  margin-top: 20px;
  padding: 20px;
  background-color: #fcfcfc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.profit-box dl {
  *zoom: 1;
  display: block;
}

.profit-box dl:after {
  content: '';
  display: block;
  clear: both;
}

.profit-box dl + dl {
  margin-top: 4px;
}

.profit-box dl dt {
  float: left;
  font-size: 1.143rem;
}

.profit-box dl dd {
  float: right;
  font-size: 1.286rem;
}

.profit-box + .norounded {
  margin-top: 20px;
}

.profit-box + p {
  margin-top: 10px;
  color: #888;
}

.profit-box ul {
  *zoom: 1;
  display: block;
}

.profit-box ul:after {
  content: '';
  display: block;
  clear: both;
}

.profit-box ul li {
  float: left;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  text-align: center;
}

.profit-box ul li > span {
  color: #888;
  font-size: 1rem;
  font-weight: 700;
}

.profit-box ul li > span:before {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto 2px;
  background-repeat: no-repeat;
  content: "";
}

.profit-box ul li > span + p {
  font-size: 1.143rem;
  font-weight: 700;
}

.profit-box ul li > span + p span {
  font-size: 0.857rem;
  font-weight: 400;
}

.profit-box ul li.calendar > span:before {
  background-image: url(../images/ico-calendar.png);
  -webkit-background-size: contain;
  background-size: contain;
}

.profit-box ul li.value > span:before {
  background-image: url(../images/ico-value.png);
  -webkit-background-size: contain;
  background-size: contain;
}

.profit-box + .tbl.primary {
  margin-top: 30px;
}

.sum-box {
  margin-top: 30px;
  padding: 30px;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.sum-box dl.profit {
  margin-top: 14px;
}

.sum-box dl.profit dt,.sum-box dl.profit dd {
  color: #2a74e4 !important;
  font-weight: 700;
}

.sum-box dl.profit dt {
  font-size: 1.143rem;
}

.sum-box dl.profit dd {
  font-size: 1.286rem;
}

.sum-box dl dt:first-child {
  margin-top: 0;
  font-weight: 700;
}

.sum-box dl dt:first-child + dd {
  margin-top: 0;
  color: #333333;
  font-weight: 700;
}

.sum-box dl dd {
  float: right;
}

.sum-box dl dt,.sum-box dl dd {
  display: inline-block;
  color: #666666;
  font-size: 1.143rem;
  margin-top: 5px;
}

.norounded ul {
  *zoom: 1;
  display: block;
}

.norounded ul:after {
  content: '';
  display: block;
  clear: both;
}

.norounded ul li {
  float: left;
  width: 50%;
}

.norounded ul li p {
  text-align: center;
}

.norounded ul li p span {
  display: block;
  margin-top: 10px;
  color: #333333;
  font-weight: 700;
}

.box-tbl {
  margin-top: 20px;
}

.box-tbl table tr th,.box-tbl table tr td {
  padding: 4px 0;
}

.hide-cont.on .hide-box {
  display: block;
}

.hide-box {
  display: none;
  padding: 16px 18px;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.hide-box dl dt,.hide-box dl dd {
  display: inline-block;
  font-size: 1rem;
}

.hide-box dl dt {
  min-width: 58px;
  color: #888;
}

.map-container {
  margin-top: 30px;
}

.map-container iframe {
  width: 100%;
  height: 240px;
}

.like-tbl {
  *zoom: 1;
  display: block;
}

.like-tbl:after {
  content: '';
  display: block;
  clear: both;
}

.like-tbl .col {
  float: left;
  font-size: 1.143rem;
  letter-spacing: -1px;
}

.like-tbl .col:not(.fix) {
  width: -webkit-calc(52% / 2);
  width: calc(52% / 2);
  text-align: left;
}

.like-tbl .col:not(.fix) {
  text-align: center;
}

.like-tbl .col.fix {
  width: 44%;
}

.like-tbl .col .inner {
  overflow: hidden;
  position: relative;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.like-tbl .col .inner + .inner {
  margin-top: 10px;
}

.like-tbl .col > p {
  margin: 18px 0 6px;
  text-align: center;
  color: #888;
  font-size: 1rem;
}

.like-tbl .col + .col {
  margin-left: 6px;
}

.like-tbl .col.arrow {
  text-align: right;
}

.like-tbl .col.arrow a {
  padding-right: 20px;
  color: #333333;
}

.like-tbl .col.arrow span {
  position: absolute;
  top: 14px;
  right: -6px;
  width: 16px;
  height: 20px;
  vertical-align: middle;
}

.like-tbl .col.arrow span:before {
  display: block;
  width: 8px;
  height: 14px;
  margin-top: -7px;
  background: url(../images/ico-arrow-r.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  content: "";
}

.like-tbl input[type="checkbox"] + label:before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url(../images/check-tetragon-off.png) no-repeat 0 0;
  -webkit-background-size: contain;
  background-size: contain;
}

.like-tbl input[type="checkbox"]:checked + label:before {
  background: url("../images/check-tetragon-on.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

/*******************************************
*    POPUP
********************************************/

.popup-container .dim {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-filter: blur(0.4);
  filter: blur(0.4);
  opacity: .95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=90);
  opacity: 0.95;
  z-index: 99998;
}

.popup-container .popup-cont {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: auto;
  margin: auto;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 99999;
}

.popup-container .popup-cont.basic .cont-inner {
  padding: 40px 23px;
}

.popup-container .popup-cont.basic .cont-inner p {
  line-height: 1.5;
  text-align: center;
  font-size: 1.143rem;
}

.popup-container .popup-cont.basic .cont-inner p strong {
  display: block;
  font-size: 1.286rem;
}

.popup-container .popup-cont.basic .cont-inner p span {
  display: block;
  margin-top: 20px;
}

.popup-container .popup-cont.basic .cont-inner p + .input-item {
  margin-top: 20px;
}

.popup-container .popup-cont.start .cont-inner {
  padding: 40px 20px 30px;
}

.popup-container .popup-cont.start .input-item {
  margin-top: 32px;
  padding-right: 10px;
}

.popup-container .popup-cont.start .input-item label {
  font-size: 1.286rem;
}

.popup-container .popup-cont.start .input-item > p {
  margin-top: 12px;
  padding-left: 28px;
  color: #666666;
  font-size: 1.000rem;
}

.popup-container .popup-cont.start .input-item > p span {
  display: block;
  margin-top: 18px;
}

.popup-container .popup-cont.start .profile-cont .profile-img {
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 20px;
  width: 52px;
  height: 52px;
  background-color: #d8d8d8;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.popup-container .popup-cont.start .profile-cont .profile-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.popup-container .popup-cont.start .profile-cont > p {
  display: table-cell;
  height: 52px;
  padding-left: 66px;
  line-height: 1.3;
  font-size: 1.429rem;
  font-weight: 700;
  vertical-align: middle;
}

.popup-container .popup-cont.start .profile-cont > p span {
  display: block;
  font-size: 1.143rem;
  font-weight: 400;
}

.popup-container .popup-cont.loan .cont-inner {
  padding: 30px 18px 20px;
}

.popup-container .popup-cont.loan .cont-inner > img {
  height: 26px;
  margin-bottom: 12px;
}

.popup-container .popup-cont.loan .cont-inner ul li + li {
  margin-top: 8px;
}

.popup-container .popup-cont.loan .cont-inner ul li p {
  font-size: 1.143rem;
}

.popup-container .popup-cont.loan .cont-inner ul li p span,.popup-container .popup-cont.loan .cont-inner ul li p strong {
  margin-left: 10px;
}

.popup-container .popup-cont.loan .cont-inner .input-item {
  margin-top: 24px;
}

.popup-container .popup-cont.loan .cont-inner .input-item label b {
  font-size: 1.143rem;
}

.popup-container .popup-cont.loan textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 1rem;
}

.popup-container .popup-cont.cal {
  padding: 40px 20px 20px;
  margin-top: 0;
  width: 100%;
  top: auto;
  bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.popup-container .popup-cont.cal .tit-txt {
  padding-left: 8px;
  margin-bottom: 10px;
}

.popup-container .popup-cont.cal .row .column {
  padding-right: 4px;
}

.popup-container .popup-cont.cal .row .column .btn {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.popup-container .popup-cont.cal .row .column + .column {
  padding-left: 4px;
  padding-right: 0;
}

.popup-container .popup-cont.cal .select-date {
  border: none;
  text-align: center;
  color: #666666;
  margin-bottom: 10px;
}

.popup-container .input-item label {
  font-size: 1rem;
}

.popup-container .row .btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  float: left;
  font-size: 1.143rem;
}

/*******************************************
*    GRAPH
********************************************/

.graph-container {
  min-height: 300px;
  border: 1px solid red;
}

/*******************************************
*    HOME
********************************************/

.detail-cont dl dt,.detail-cont dl dd {
  display: inline-block;
  font-size: 1.143rem;
  letter-spacing: -1px;
}

.detail-cont dl dt {
  min-width: 100px;
  color: #888;
}

.detail-cont p {
  font-size: 1.143rem;
}

.detail-cont .sub-txt {
  margin-top: 10px;
  color: #888;
  font-size: 1rem;
}

.check-block {
  display: none;
}

.check-block.on {
  display: block;
}

.fc-primary {
  color: #2a74e4 !important;
}

.coach-mark {
  display: none;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-filter: blur(10);
  filter: blur(10);
}

.coach-mark .desc {
  color: #fff;
  font-size: 1.286rem;
  position: fixed;
}

.coach-mark .header-sub .desc {
  right: 16px;
  top: 113px;
}

.coach-mark .header-sub .txt-link-like {
  position: absolute;
  top: 0;
  right: 18px;
  height: 52px;
  line-height: 52px;
}

.coach-mark .header-sub .txt-link-like i {
  color: #fff;
  font-size: 1.143rem;
  position: relative;
  z-index: 12;
  font-style: normal;
}

.coach-mark .header-sub .txt-link-like:after {
  content: '';
  display: block;
  background: url("../images/coach-guide-touch.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 78px;
  height: 104px;
  position: absolute;
  top: 3px;
  right: -9px;
  -webkit-animation: bounce .5s ease-out alternate infinite;
  animation: bounce .5s ease-out alternate infinite;
  z-index: 10;
}

.coach-mark .scenario {
  margin-top: 236px;
  position: relative;
}

.coach-mark .scenario .desc {
  left: 50px;
  top: 343px;
}

.coach-mark .scenario select {
  pointer-events: none;
}

.coach-mark .scenario:after {
  content: '';
  display: block;
  background: url("../images/coach-guide-move.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 48px;
  height: 63px;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-animation: bounce .5s ease-out alternate infinite;
  animation: bounce .5s ease-out alternate infinite;
  z-index: 10;
}

.coach-mark img {
  width: 100%;
  vertical-align: top;
}

.pdb20 {
  padding-bottom: 20px;
}

/**/

.header-sub .ico-help {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 4px 4px;
  text-indent: -9999px;
  vertical-align: middle;
  background: url("../images/ico-help.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.scenario.disabled .rounded-btn li.on {
  background-color: #d8d8d8;
  border-color: #888;
}

.scenario.disabled .rounded-btn li.on a {
  color: #888;
}

.scenario .terms-box {
  margin-top: 10px;
}

.scenario .terms-box li span {
  font-size: 1.143rem;
}

.scenario .terms-box .primary p,.scenario .terms-box .primary span {
  color: #2a74e4;
}

.scenario .color-ipt {
  margin-bottom: 40px;
}

.scenario .color-ipt label {
  font-size: 1rem;
}

.scenario .color-ipt .etc-slt {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 34px;
  color: #2a74e4;
  background-color: #f5faff;
  border: 1px solid #2a74e4;
  background: url("../images/ico-combo.png") no-repeat 97% #f5faff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.scenario .color-ipt .etc-slt.active {
  color: #2a74e4;
}

.scenario .input-item + .input-item {
  margin-top: 40px !important;
}

.scenario select::-ms-expand {
  display: none;
}

.scenario .txt-guide b {
  font-size: 1.286rem;
}

.scenario .txt-guide + .input-item-inner {
  margin-bottom: 26px;
}

#simulResult.tbl-remove .tbl {
  display: none;
}

#simulResult.tbl-remove .tit-txt .arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#simulResult .tit-txt {
  position: relative;
}

#simulResult .tit-txt .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#simulResult .tit-txt .arrow:before {
  display: block;
  width: 10px;
  height: 30px;
  margin: 0 auto;
  background: url(../images/ico-arrow-r.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  content: "";
}

.input-item-inner {
  margin-top: 16px;
}

.input-item-inner .range-box > p {
  text-align: center;
  color: #333333;
  font-size: 1.143rem;
  font-weight: 700;
}

.input-item-inner .range-box > p.large {
  font-size: 1.429rem;
}

.fix-dataBox {
  padding: 24px 18px !important;
  background: none !important;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 1;
}

.fix-dataBox.remove {
  bottom: -300px;
  opacity: 0;
}

.fix-dataBox-inner {
  background-color: #fff;
  padding: 32px 0;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}

.fix-dataBox-inner ul {
  *zoom: 1;
  display: block;
}

.fix-dataBox-inner ul:after {
  content: '';
  display: block;
  clear: both;
}

.fix-dataBox-inner ul li {
  float: left;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
}

.fix-dataBox-inner ul li p {
  text-align: center;
  color: #888;
  font-size: 1.143rem;
  font-weight: 700;
}

.fix-dataBox-inner ul li p span {
  display: block;
  color: #333333;
  font-weight: 400;
}

.fix-dataBox-inner ul li p span em {
  font-weight: 700;
}

.rounded-btn {
  *zoom: 1;
  display: block;
  margin-top: 20px;
}

.rounded-btn:after {
  content: '';
  display: block;
  clear: both;
}

.rounded-btn li {
  float: left;
  width: -webkit-calc(100% / 4 - 3px);
  width: calc(100% / 4 - 3px);
  text-align: center;
  border: 1px solid #888;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.rounded-btn li + li {
  margin-left: 4px;
}

.rounded-btn li.on {
  background-color: #f3faff;
  border-color: #2a74e4;
}

.rounded-btn li.on a {
  color: #2a74e4;
}

.rounded-btn li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2px 0;
  color: #888;
  font-size: 0.857rem;
}

.full-lst ul li {
  position: relative;
  padding: 22px 18px;
}

.full-lst ul li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}

.full-lst ul li label {
  display: block;
  padding-left: 30px;
  line-height: 1.5;
  font-size: 1.286rem;
}

.full-lst ul li label:before {
  position: absolute;
  top: 50%;
  left: 18px;
  margin-top: -10px;
}

.disabled .range-box {
  pointer-events: none;
}

.disabled .rounded-btn li {
  pointer-events: none;
}