.header-sub{
    .ico-help{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 0 4px 4px;
        text-indent: -9999px;
        vertical-align: middle;
        background: url('../images/ico-help.png') no-repeat;
        background-size: contain;
    }
}


.scenario{
    &.disabled{
        .rounded-btn{
            li{
                &.on{
                    background-color: #d8d8d8;
                    border-color: #888;
                    a{
                        color: #888;
                    }
                }
            }
        }
    }
    .terms-box{
        margin-top: 10px;
        li{
            span{
                font-size: 1.143rem;
            }
        }
        .primary{
            p,span{
                color: $rec-primary;
            }
        }
    }
    .color-ipt{
        margin-bottom: 40px;
        label{
            font-size: 1rem;
        }
        .etc-slt{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 34px;
            color: $rec-primary;
            background-color: $rec-secondary;
            border: 1px solid $rec-primary;
            background: url('../images/ico-combo.png') no-repeat 97% $rec-secondary;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &.active{
                color: $rec-primary;
            }
        }
    }
    .input-item{
        &+.input-item{
            margin-top: 40px !important;
        }
    }
    select::-ms-expand{
        display: none;
    }
    .txt-guide{
        b{
            font-size: 1.286rem;
        }
        &+.input-item-inner{
            margin-bottom: 26px;
        }
    }
}

#simulResult{
    &.tbl-remove{
        .tbl{
            display: none;
        }
        .tit-txt{
            .arrow{
                transform: rotate(90deg);
            }
        }
    }
    .tit-txt{
        position: relative;
        .arrow{
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            transform: rotate(-90deg);
            transition: all .2s ease;
            &:before{
                display: block;
                width: 10px;
                height: 30px;
                margin: 0 auto;
                background: url(../images/ico-arrow-r.png) no-repeat center;
                background-size: contain;
                content: "";
            }
        }
    }
}

.input-item-inner{
    margin-top: 16px;
    .range-box{
        >p{
            text-align: center;
            color: $rec-textColor;
            font-size: 1.143rem;
            font-weight: 700;
            &.large{
                font-size: 1.429rem;
            }
        }
    }
}
.fix-dataBox{
    padding: 24px 18px !important;
    // background-color: $rec-bg !important;
    background: none!important;
    // border-top: 1px solid #cecece;
    transition: all .8s ease;
    opacity: 1;
    &.remove{
        bottom: -300px;
        opacity: 0;
    }
}
.fix-dataBox-inner{
    background-color: #fff;
    padding: 32px 0;
    @include rounded(60px);
    @include shadow(0, 0, 16px, rgba(0, 0, 0, 0.16))
    ul{
        @include clearfix;
        li{
            float: left;
            width: calc(100% / 3);
            p{
                text-align: center;
                color: #888;
                font-size: 1.143rem;
                font-weight: 700;
                span{
                    display: block;
                    color: $rec-textColor;
                    font-weight: 400;
                    em{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.rounded-btn{
    @include clearfix;
    margin-top: 20px;
    li{
        float: left;
        width: calc(100% / 4 - 3px);
        text-align: center;
        border: 1px solid #888;
        @include rounded(15px);
        &+li{
            margin-left: 4px;
        }
        &.on{
            background-color: #f3faff;
            border-color: $rec-primary;
            a{
                color: $rec-primary;
            }
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            padding: 2px 0;
            color: #888;
            font-size: 0.857rem;
        }
    }
}
.full-lst{
    ul{
        li{
            position: relative;
            padding: 22px 18px;
            &+li{
                border-top: 1px solid rgba(0,0,0,.03);
            }
            label{
                display: block;
                padding-left: 30px;
                line-height: 1.5;
                font-size: 1.286rem;
                &:before{
                    position: absolute;
                    top: 50%;
                    left: 18px;
                    margin-top: -10px;
                }
            }
            // a{
            //     display: block;
            //     width: 100%;
            //     padding: 18px 18px;
            //     line-height: 1.4;
            //     color: $rec-textColor;
            //     font-size: 1.286rem;
            // }
        }
    }
}

.disabled{
    .range-box{
        pointer-events: none;
    }
    .rounded-btn{
        li{
            pointer-events: none;
        }
    }
}
