/*******************************************
*    COMMON
********************************************/


html {
    @include fontStyle;
    font-size: 14px;
    line-height: 1.8;
    color: $rec-textColor;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
p{
    letter-spacing: -0.7px;
}

i{
    font-style: italic;
}

*{
    -webkit-tap-highlight-color:transparent;
    &:focus{
        outline: none;
    }
}

em{
    &.blue{
        color: $rec-primary;
    }
    &.red{
        color: #e02020;
    }
    &.gray{
        color: #888;
    }
}

/*******************************************
*    INPUT
********************************************/
*::placeholder{
    color: #cecece;
}
*::-webkit-input-placeholder{
    color: #cecece;
}
*::-moz-placeholder{
    color: #cecece;
}
*:-ms-input-placeholder{
    color: #cecece;
}
*:-moz-placeholder{
    color: #cecece;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select{
    width: 100%;
    height: 54px;
    background-color: #fff;
    border: 1px solid #cecece;
    color: $rec-textColor;
    font-size: 1.286rem;
    font-weight: 400;
    line-height: 54px;
    border-radius: 4px;
    padding:0 14px;
    transition: border .3s;
    &.center{
        text-align: center;
        padding: 0;
    }
    &:focus{
        outline: none;
        border-color: $rec-primary;
    }
    &:invalid{
        border-color: #e02020;
        color: #e02020;
    }

}
textarea{
    width: 100%;
    max-height: 200px;
    padding:14px;
    line-height: 1.5;
    @include fontStyle;
    font-size: 1.286rem;
    background-color: #fff;
    border: 1px solid #cecece;
    @include rounded(4px);
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    &:focus{
        outline: none;
        border-color: $rec-primary;
    }
    &:invalid{
        border-color: #e02020;
        color: #e02020;
    }
}
select::-ms-expand {
    display:none
}
select{
    color: #cecece;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url('../images/select-arrow.png') no-repeat center right;
    background-size: 26px 8px;
    &.active{
        color: $rec-textColor;
    }
}
input[type="radio"],
input[type="checkbox"]{
    position: absolute;
    left:-9999px;
    opacity: 0;
   &+label{
       color: $rec-textColor;
       cursor:pointer;
       font-size: 1.143rem;
       font-weight: 400;
       &+input[type="radio"],
       &+input[type="checkbox"]{
           &+label{
               margin-left: 26px;
           }
       }

       &:before{
           width: 20px;
           height: 20px;
           display:inline-block;
           margin: 0 8px 3px 0;
           vertical-align: middle;
           cursor:pointer;
           content:'';
       }
   }
}
input[type="radio"]{
    &.sm{
        &+label{
            &+.sm{
                &+label{
                    margin-left: 14px;
                }
            }
            &:before{
                width: 16px;
                height: 16px;
            }
        }
    }
    &+label{
        &:before{
            background: url('../images/radio-off.png') no-repeat;
            background-size: contain;
        }
    }
    &:checked{
        &+label{
            &:before{
                background: url('../images/radio-on.png') no-repeat;
                background-size: contain;
            }
        }
    }
    &:checked{
        &[disabled]{
            &+label{
                &:before{
                    background: url(../images/radio-disabled.png) no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    &[disabled]{
        &+label{
            &:before{
                opacity: 0.5;
            }
        }
    }
}
input[type="checkbox"]{
    &.kakao{
        &:checked{
            &+label{
                &:before{
                    background: url('../images/check-on-kakao.png') no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    &+label{
        &:before{
            background: url('../images/check-off.png') no-repeat;
            background-size: contain;
        }
    }
    &:checked{
        &+label{
            &:before{
                background: url('../images/check-on.png') no-repeat;
                background-size: contain;
            }
        }
    }
    &[disabled]{
        &+label{
            &:before{
                opacity: 0.5;
            }
        }
    }
}
input[disabled],
select[disabled],
option[disabled],
textarea[disabled],
button[disabled],
a.disabled{
    background-color: $rec-line-light;
    cursor: none;
}
.etc-input{
    display: none;
    &.on{
        display: block;
    }
}
.input-group{
    position: relative;
    input[type="text"]{
        padding-right: 60px;
    }
    .unit{
        font-size: 1.286rem;
        position: absolute;
        top: 0;
        right: 14px;
        bottom: 0;
        margin: auto;
        line-height: 54px;
    }
}
.input-item{
    &.bd{
        &+.bd{
            padding-top: 30px;
            border-top: 1px solid #cecece;
        }
    }
    input, select{
        &+.txt-input-guide{
            margin-top: 10px;
        }
        &+input,&+select{
            margin-top: 8px;
        }

    }

    label{
        color: $rec-textColor-light;
        font-size: 1.143rem;
        font-weight: 700;
        letter-spacing: -0.5px;
        line-height: 1;
        &+input,&+select,&+.input-group,&+textarea{
            margin-top: 8px;
        }
        &+.txt-input-guide{
            margin-top: 10px;
            padding-left: 28px;
            color: $rec-textColor-light;
            font-size: 1rem;
        }
        b{
            color: $rec-textColor;
            font-size: 1.286rem;
            font-weight: 700;
        }
        em.blue{
            font-weight: 400;
            font-size: 1rem;
        }
    }
    &+.input-item{
        margin-top: 30px;
    }
    .row{
        position: relative;
        &.cal{
            .column{
                padding-right: 10px;
                &+.column{
                    padding-right: 0;
                    padding-left: 10px;
                }
            }
            &:before{
                content: '~';
                font-size: 1.286rem;
                position: absolute;
                width: 10px;
                height: 54px;
                line-height: 54px;
                left: 0;
                right: 0;
                margin: auto;

            }
        }
        margin-top: 8px;
        &+input,&+select{
            margin-top: 10px;
        }
        .column{
            padding-right: 10px;
            &+.column{
                padding-right: 0;
                padding-left: 10px;
            }
        }
    }
    &+.txt-guide{
        margin-top: 20px;
    }
}
.btn-item{
    .btn{
        &+.btn{
            margin-top: 10px;
        }
    }
}
.switch{
    display: inline-block;
    position: relative;
    width: 42px;
    height: 24px;
    input{
        display: none;
    }
    .slider{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e1e1e1;
        border-radius: 20px;
        transition: .2s;
        cursor: pointer;
        &:before{
            position: absolute;
            left: 2px;
            bottom: 0;
            top: 0;
            margin: auto;
            height: 20px;
            width: 20px;
            background-color: #fff;
            border-radius: 50%;
            transition: .2s;
            content: "";
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
        }
    }
    &.on{
        .slider{
                background-color: $rec-primary;
            &:before{
                transform: translateX(18px);
            }
        }
    }
}
.radio-ui-page{
    display: none;
    margin-top: 8px;
    &.on{
        display: block;
    }
}
.like-input{
    display: block;
    font-size: 1.286rem;
    height: 54px;
    background-color: #fff;
    border: 1px solid #cecece;
    line-height: 54px;
    @include rounded(4px);
    padding: 0 14px;

}
.like-label{
    margin-bottom: 8px;
    @include clearfix;
    em{
        font-size: 1rem;
        font-weight: 400;
    }
    label{
        float: left;
    }
    span{
        float: right;
        label{
            font-size: 1rem;
        }
    }
}


/*******************************************
*    LAYOUT
********************************************/
#container{
    // padding-top: 82px;
    // min-height: 100vh;
    &.use-footer{
        .app-section{
            &:last-child{
                padding-bottom: 30px;
            }
        }
    }
    &.use-logo{
        padding-top: 58px;
    }
    &.use-sub{
        padding-top: 53px;
    }
}
.app-section{
    padding-top: 35px;
    padding-bottom: 30px;
    &:last-child{
        padding-bottom: 90px;
    }
    &.last-none{
        padding-bottom: 20px;
    }
    &.block{
        border-bottom: 1px solid $rec-line;
        .input-item{
            &+.input-item{
                margin-top: 24px;
            }
        }
        &.pb0{
            padding-bottom: 0;
            border-bottom: 0;
            .app-inner{
                margin-bottom: 28px;
            }
        }
        .tit-txt{
            margin-bottom: 8px;
        }
        &+.block{
            margin-top: 16px;
        }
        &+.fix-inner.block{
        	margin-top:0;
        	padding-top:20px;
        }
        &.advice{
            .tit-txt{
                margin-bottom: 30px;
            }
            .txt-guide{
                margin-bottom: 10px;
            }
        }
    }
}
.txt-guide{
    position: relative;
    .like-label{
        position: absolute;
        top: 0;
        right: 18px;
        color: $rec-textColor-light;
        text-decoration: underline;
    }
    &+.txt-guide{
        margin-top: 10px;
    }
}
.app-inner{
    padding: 0 18px;
    .txt-guide{
        padding: 0;
        &+.row{
            margin-top: 8px;
        }
    }
    .cont{
        &+.cont{
            margin-top: 30px;
        }
    }
}
.fix-inner{
    width: 100%;
    padding: 0 18px;
    z-index: 10;

    &.mt0{
        margin-top: -1px !important;
    }
    &.fix{
        position: fixed;
        bottom: 20px;
    }
    &.scroll-fix{
        position: fixed;
        bottom: 0;
        padding: 20px 18px;
        background-color: #fff;
    }
    &.block{
        background: #fff;
        padding-bottom: 20px;
        padding-top: 10px;
        .added{
            margin-bottom: 6px;
        }
    }
    &.row{
        .column{
            .added{
                padding-top: 0;
            }
            &+.column{
                margin-left: 6px;
            }
        }
        &.col-1{
            .column{
                width: 100%;
            }
        }
        &.col-2{
            .column{
                width: calc(50% - 3px);
            }
        }
        &.col-3{
            .column{
                width: 33.33%;
            }
        }
        &.col-4{
            .column{
                width: 25%;
            }
        }
    }
}

.row{
    @include clearfix;
    .column-r{
        float: right;
    }
    .column-l{
        float: left;
    }
    &.center{
        text-align: center;
        .column{
            display: inline-block;
            float: none;
        }
    }
    &.right{
        text-align: right;
        .column{
            display: inline-block;
            float: none;
        }
    }
    .column{
        float: left;
        word-break: break-all;
        &.relative{
            position: relative;
        }
    }
    &.col-1{
        .column{
            width: 100%;
        }
    }
    &.col-2{
        .column{
            width: 50%;
        }
    }
    &.col-3{
        .column{
            width: 33.33%;
        }
    }
    &.col-4{
        .column{
            width: 25%;
        }
    }
}
ul,ol{
    &.col-1{
        li{
            width: 100%;
        }
    }
    &.col-2{
        li{
            width: 50%;
        }
    }
    &.col-3{
        li{
            width: 33.33%;
        }
    }
    &.col-4{
        li{
            width: 25%;
        }
    }
    &.col-5{
        li{
            width: 20%;
        }
    }
    &.col-6{
        li{
            width: 16.66667%;
        }
    }
    &.col-7{
        li{
            width: 14.285714%;
        }
    }
    &.col-8{
        li{
            width: 12.5%;
        }
    }

    &.col-9{
        li{
            width: 11.11111%;
        }
    }
    &.col-10{
        li{
            width: 10%;
        }
    }
    &.col-11{
        li{
            width: 9.090909%;
        }
    }
    &.col-12{
        li{
            width: 8.33333%;
        }
    }
}

.bg-gray{
    background-color: #f8f8f8;
    .app-section{
        background-color: #fff;
    }
}

.vertical-layout{
    display: table;
    width: 100%;
    &-inner{
        display: table-cell;
        vertical-align: middle;
        margin: auto;
    }
}

/*******************************************
*    GUI
********************************************/

.btn{
    display: block;
    min-width: 100%;
    min-height: 54px;
    line-height: 54px;
    background-color: $rec-primary;
    color: #fff;
    font-size: 1.286rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    border-radius: 4px;

    &:active{
        opacity: 0.9;
    }
    &.natural{
        background-color: #888888;
    }
    &.light{
        font-weight: 400;
        color: $rec-textColor;
        background-color: $rec-line-light;
    }
    &.line{
        background-color: #fff;
        border: 1px solid $rec-primary;
        color: $rec-primary;
        &.sm{
            color: $rec-primary;
            font-weight: 400;
        }
    }
    &.sm{
        display: inline-block;
        height: auto;
        min-height: 32px;
        line-height: 32px;
        font-size: 1rem;
        min-width: 120px;
        font-weight: 400;
        border-radius: 50px;
        padding: 0 20px;
        &.call{
            &:before{
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url('../images/ico-call-blue.png') no-repeat;
                background-size: contain;
                vertical-align: middle;
                margin-right: 7px;
            }
        }
    }
    &.txt{
        display: inline-block;
        height: auto;
        min-height: inherit;
        min-width: inherit;
        line-height: inherit;
        background: none;
        font-weight: 400;
        color: #888;
        text-decoration: underline;
        font-size: 1rem;
        letter-spacing: -0.5px;
    }
    &.yellow{
        background-color: #ffe100;
        color: #3c1e1e;
        font-size: 1.143rem;
    }
    &.kakao{
        background-color: #ffe100;
        color: #3c1e1e;
        font-size: 1.143rem;
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top:0;
            left: 22px;
            bottom: 0;
            width: 22px;
            height: 20px;
            margin: auto;
            background: url('../images/ico-kakao.png') no-repeat;
            background-size: contain;
        }
    }
    &.added{
        color: #888;
        font-size: 1rem;
        background-color: #fff;
        min-height: 44px;
        line-height: 44px;
        border-radius: 0;
        padding-top: 12px;
        &.bd{
            border-top: 1px solid #e8e8e8;
        }
        &.blue{
            color: $rec-primary;
        }
        span{
            font-size: 1.429rem;
            position: relative;
            top: 2px;
            margin-right: 6px;
        }
        &:after{
            // content: '';
            // display: inline-block;
            // background: url('../images/ico-added.png') no-repeat;
            // background-size: contain;
            // width: 18px;
            // height: 18px;
            // vertical-align: middle;
            // margin-left: 10px;
            // position: relative;
            // bottom: 2px;
        }
    }
}
.dim{
    display:none;
    position:fixed;
    z-index:99998;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    filter:blur(10);
}

/*******************************************
*    Header/Footer
********************************************/
header{
    background-color: #fff;
    &.fixed{
        position: fixed;
        z-index: 9;
        width: 100%;
        top:0;
        left: 0;
    }
    h1{
        display: block;
        text-indent: -9999px;
        font-size: 0;
    }
    .header-logo{
        width: 153px;
        height: 24px;
        margin-top: 44px;
    }
    .header-sub{
        @include clearfix;
        position: relative;
        border-bottom: 1px solid #dcdcdc;
        h2{
            a{
                display: inline-block;
                padding: 8px 0;
                color: $rec-textColor;
                font-size: 1.429rem;
                &:before{
                    content: '';
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    margin-right: 9px;
                }
                &.back{
                    &:before{
                        width: 16px;
                        height: 16px;
                        background: url('../images/ico-back.png') no-repeat;
                        background-size: contain;

                    }
                }
            }
        }
        .txt-link{
            position: absolute;
            top: 0;
            right: 18px;
            height: 52px;
            line-height: 52px;
            color: $rec-textColor;
            font-size: 1.143rem;
        }
    }
}
footer{
    background: $rec-bg;
    padding: 30px 0 30px;
    border-top: 1px solid #dedede;
    .logo{
        width: 130px;
        height: 20px;
    }
    ul{
        margin-top: 16px;
        li{
            color: #888;
            font-size: 0.857rem;
            line-height: 1.4;
        }
    }
}

.btm-bar{
    position: fixed;
    z-index: 9;
    width: 100%;
    bottom:0;
    left: 0;
    background: #fff;
    border-top: 1px solid $rec-line;
    height: 60px;
    .gnb{
        height: 100%;
        ul{
            height: 100%;
            li{
                height: 100%;
                display: table;
                text-align: center;
                a{
                    display: table-cell;
                    vertical-align: middle;
                    span{
                        display: block;
                        color: $rec-textColor-light;
                        font-size: 0.714rem;
                        font-weight: 400;
                        &:before{
                            display: block;
                            content: '';
                            height: 24px;
                            width: 24px;
                            margin: auto auto 3px auto;
                        }
                    }
                }
                &.home{
                    span{
                        &:before{
                            background: url('../images/ico-home-nor.png') no-repeat;
                            background-size: contain;
                        }
                    }

                }
                &.results{
                    span{
                        &:before{
                            background: url('../images/ico-results-nor.png') no-repeat;
                            background-size: contain;
                        }
                    }

                }
                &.loan{
                    span{
                        &:before{
                            background: url('../images/ico-loan-nor.png') no-repeat;
                            background-size: contain;
                        }
                    }

                }
                &.my{
                    span{
                        &:before{
                            background: url('../images/ico-my-nor.png') no-repeat;
                            background-size: contain;
                        }
                    }

                }
                &.about{
                    span{
                        &:before{
                            background: url('../images/ico-about-nor.png') no-repeat;
                            background-size: contain;
                        }
                    }

                }
                &.on{
                    a{
                        span{
                            color: $rec-primary;
                        }
                    }
                    &.home{
                        span{
                            &:before{
                                background: url('../images/ico-home-sel.png') no-repeat;
                                background-size: contain;
                            }
                        }

                    }
                    &.results{
                        span{
                            &:before{
                                background: url('../images/ico-results-sel.png') no-repeat;
                                background-size: contain;
                            }
                        }

                    }
                    &.loan{
                        span{
                            &:before{
                                background: url('../images/ico-loan-sel.png') no-repeat;
                                background-size: contain;
                            }
                        }

                    }
                    &.my{
                        span{
                            &:before{
                                background: url('../images/ico-my-sel.png') no-repeat;
                                background-size: contain;
                            }
                        }

                    }
                    &.about{
                        span{
                            &:before{
                                background: url('../images/ico-about-sel.png') no-repeat;
                                background-size: contain;
                            }
                        }

                    }

                }
            }
        }
    }
}


/*******************************************
*    Component
********************************************/
.tit-txt{
    &+.txt-list-tab{
        margin-top: 15px !important;
    }
}
.txt-list-tab{
    &+.app-inner{
        margin-top: 30px;
    }
    ul{
        border-bottom: 1px solid $rec-line-light;

        li{
            height: 100%;
            a{
                display: block;
                line-height: 40px;
                color: $rec-textColor-light;
                font-size: 1.143rem;
                font-weight: 400;
                text-align: center;
            }
            &.on{
                a{
                    position: relative;
                    color: $rec-primary;
                    // font-weight: 700;
                    &:before{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 3px;
                        background: $rec-primary;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

            }
        }
    }

    &.rounded{
        margin: 20px 0;
        ul{
            width: 208px;
            margin: auto;
            background-color: $rec-primary;
            border: none;
            border-radius: 4px;
            li{
                padding: 2px;
                a{
                    color: #fff;
                    font-size: 0.857rem;
                    line-height: 24px;
                    border-radius: 3px;
                    letter-spacing: -0.3px;
                }
                &.on{
                    a{
                        background-color: #fff;
                        color: $rec-primary;
                        &:before{
                            content: none;
                        }

                    }

                }
            }
        }

    }
}
.txt-btn-right{
    @include clearfix;
    .btn{
        float: right;
        &.txt{
            em{
                font-size: 1.143rem;
                font-weight: 700;
            }
        }
    }
}
.txt{
    &-input-guide{
        font-size: 1.143rem;
        line-height: 1.5;
        font-weight: 300;
    }
    &-guide{
        font-size: 1rem;
        color: #888;
        letter-spacing: -0.5px;
        font-weight: 300;
        line-height: 1.5;
        padding: 0 18px 0;
        .data-logo{
            height: 34px;
            &+p{
                margin-top: 8px;
            }
        }
        .desc{
            font-size: 1.143rem;
            line-height: 1.5;
            color: $rec-textColor;
            margin: 15px 0 8px;
        }
        dl{
            @include clearfix;
            margin-top: 8px;
            &.full{
                dd{
                    float: right;
                }
                .tit-txt{
                    margin-bottom: 10px;
                }
            }
            dt,dd{
                font-size: 1.286rem;
                font-weight: 700;
                float: left;
            }
            dt{
                color: $rec-textColor;
            }
            dd{
                color: $rec-primary;
                margin-left: 10px;
            }
        }
        &+.app-inner{
            margin-top: 30px;
        }
        b{
            font-weight: 700;
            color: $rec-textColor;
            font-size: 1.143rem;
            display: block;
            margin-bottom: 10px;
        }
        em{
            font-weight: 700;
            color: $rec-textColor-light;
            font-size: 1.143rem;
            display: block;
            // margin-bottom: 10px;
        }
        &+.txt-list-tab{
            margin-top: 14px;
        }
    }
}
.tit{

    &-main{
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4;
    }
    &-txt{
        color:$rec-textColor;
        font-size: 1.429rem;
        font-weight: 700;
        margin-bottom: 30px;
        @include clearfix;
        .btn.txt{
            float: right;
            line-height: 2;
        }
        &.md{
            font-size: 1.286rem;
        }
        &.sm{
            margin-top: 20px;
            font-size: 1.143rem;
        }
        &.tight{
            margin-bottom: 8px;
        }
        &+p{
            font-size: 1.286rem;
            line-height: 1.5;
        }
        &+.txt-guide{

            font-size: 1rem;
            color: #888;
            letter-spacing: -0.5px;
            font-weight: 300;
            line-height: 1.5;
        }
        &+.page-view{
            padding-top: 20px;
        }
    }
    &-sub{

        em{
            display: block;
            color: #888;
            font-size: 1rem;
            font-weight: 400;
        }
        color: #333333;
        font-weight: 700;
        font-size: 1.143rem;
        padding-top: 20px;
        .btn-tit{
            position: relative;
            .btn.txt{
                position: absolute;
                right: 0;
                top: 0;
            }
        }

    }
}
.tbl{
    table{
        width: 100%;
        thead{
            tr{
                th{
                    padding: 5px 0;
                    color: #888;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
        tbody{
            td{
                padding: 0 3px;
                color: $rec-textColor;
                font-size: 1.143rem;
                letter-spacing: -1px;
                a{
                    color: $rec-textColor;
                }
                .tbl-arrow{
                    &.on{
                        span{
                            &:before{
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    span{
                        display: inline-block;
                        position: relative;
                        width: 20px;
                        height: 20px;
                        margin-bottom: -4px;
                        &:before{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 8px;
                            height: 14px;
                            margin-top: -7px;
                            background: url(../images/ico-arrow-r.png) no-repeat 0 0;
                            background-size: contain;
                            transform: rotate(90deg);
                            content: "";
                        }
                    }
                }
                .ipt-cut{
                    overflow: hidden;
                    max-width: 140px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    input[type="checkbox"]{
                        &+label{
                            &:before{
                                width: 16px;
                                height: 16px;
                                margin-right: 4px;
                                background: url(../images/check-tetragon-off.png) no-repeat 0 0;
                                background-size: contain;
                            }
                        }
                        &:checked{
                            &+label{
                                &:before{
                                    background: url('../images/check-tetragon-on.png') no-repeat;
                                    background-size: contain;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ta-r{
            text-align: right;
        }
    }
    &.primary{
        border: 1px solid #f3faff;
        th{
            color: $rec-primary;
            font-weight: 400;
            background-color: #f3faff;
        }
        th,td{
            padding: 8px 4px;
            line-height: 1.5;
            text-align: center;
            font-size: 1rem;
        }
        tbody{
            td{
                p{
                    span{
                        display: block;
                        margin-top: 6px;
                        color: #888;
                        font-size: 0.857rem;
                    }
                }
            }
        }
    }
}
.help{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    background: url('../images/ico-help.png') no-repeat;
    background-size: contain;
    margin-left: 4px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
    &.on{
        .help-inner{
            display: block;
        }
    }
    &-inner{
        display: none;
        min-width: 280px;
        max-width: 100%;
        position: absolute;
        bottom: 30px;
        @include rounded(4px);
        background-color: rgba(0, 0, 0, 0.72);
        padding: 20px;
        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: -10px;
            width: 16px;
            height: 11px;
            background: url('../images/tooltip-arrow.png') no-repeat;
            background-size: contain;
        }

        p{
            color: #fff;
            font-size: 1.286rem;
            font-weight: 400;
            line-height: 1.7;
            letter-spacing: -0.5px;
            b{
                color: #fff;
                font-weight: 700;
            }
            &+p{
                margin-top: 10px;
            }
        }

        &.left{

            left: -20px;
        }
        &.right{
            right: -20px;
            &:after{
                right: 20px;
            }
        }
        &.max{
            min-width: 340px;
            right: -82px;
            &:after{
                right: 82px;
            }
        }
    }

}
.ico{
    text-indent: -999rem;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 15px;
        height: 15px;
    }
    &.more{
        &:before{
            width: 10px;
            height: 18px;
            background: url(../images/ico-arrow-r.png) no-repeat;
            background-size: contain;
        }
    }
}
.list{
    &-scenario{
        margin-bottom: 20px;
        ul{
            li{
                &+li{
                    margin-top: 18px;
                }
            }
        }
    }
    &-inv-analysis{
        .inv-inner{
            padding: 15px 0;
        }
        ul{
            li{

                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 18px;
                        background: url(../images/ico-arrow-r.png) no-repeat;
                        -webkit-background-size: contain;
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                    }

                }
                span{
                    display: inline-block;
                    background-color: #5c7cfa;
                    color: #fff;
                    font-size: 0.857rem;
                    border-radius: 50px;
                    padding: 0 10px;
                    margin-bottom: 10px;
                    &.green{
                        background-color: #94d82d;
                    }
                    &.red{
                        background-color: #ff6b6b;
                    }
                    &.date{
                        font-size: 1rem;
                        color: #888;
                        background: none;
                    }

                }
                p{
                    color: $rec-textColor;
                    font-size: 1.143rem;
                    letter-spacing: -0.5px;
                    font-weight: 700;
                    line-height: 1.4;
                    em{
                        display: block;
                        margin-top: 10px;
                        color: #888;
                        font-weight: 400;
                        font-size: 1rem;
                    }
                }
            }
        }
        &+.added{


        }
    }
    &-address{
        margin-top: 20px;
        >li{
            a{
                display: block;
                width: 100%;
                height: 100%;
                .address-tit{
                    color: $rec-textColor;
                    font-weight: 700;
                    font-size: 1.143rem;
                }

            }
            &+li{
                margin-top: 31px;
            }
        }
        &-kind{
            margin-top: 4px;
            li{
                color: $rec-textColor-light;
            }
            .address-mark{
                display: inline-block;
                text-align: center;
                color: $rec-primary;
                font-size: 0.857rem;
                min-width: 42px;
                font-weight: 700;
                height: 20px;
                line-height: 20px;
                background-color: #e9f2ff;
                @include rounded(2px);
                margin-right: 4px;
            }
        }
    }
    &-terms{
        li{
            margin-top: 20px;
            min-height: 30px;
            line-height: 30px;
            position: relative;
            &.padding{
                padding-left: 26px;
            }
            .input-item{
                input[type="checkbox"]{
                    &+label{
                        font-size: 1.286rem;
                    }
                }
            }
            .ico{
                position: absolute;
                right: -9px;
                top: 0;
                margin: auto;

            }

        }

    }
    &-info{
        li{
            padding-bottom: 10px;
            &+li{
                border-top: 1px solid $rec-line-light;
                padding-top: 10px;
            }
            a{
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 18px;
                    background: url(../images/ico-arrow-r.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 26px;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                }
                em{
                    display: block;
                    margin-bottom: 8px;
                }
                .info-address{
                    color: $rec-textColor;
                    font-size: 1.143rem;
                    font-weight: 700;
                    line-height: 1.5;
                }
                .info-date{
                    display: block;
                    color: #888;
                    margin-top: 8px;
                }
            }
        }

    }
    &-suggestion{
        padding-top: 20px;
        li{
            border-top: 1px solid $rec-line-light;
            padding: 20px 0;
            .data-logo{
                height: 26px;
            }
            .dl-base{
                @include clearfix;
                dt,dd{
                    line-height: 1;
                }
                dt{
                    width: 60%;
                    float: left;
                    font-size: 1.143rem;
                    b{
                        margin-left: 10px;
                    }
                }
                dd{
                    width: 40%;
                    text-align: right;
                    float: right;
                    .btn.txt{
                        line-height: 2;
                    }
                }
                &+dl{
                    margin-top: 10px;
                }
                &+.row{
                    margin-top: 20px;
                    .btn{
                        display: inline-block;
                        width: auto;
                    }
                }

            }
            &:last-child{
                padding-bottom: 0;
            }
            .call{
                margin-top: 10px;
            }
        }
    }
    &-sub-account{
        margin-top: 20px;
        dl{
            dt,dd{
                font-size: 1.143rem;
                font-weight: 400;
            }
            dd{
                float:right;
                color: #888;
            }
        }
    }
    &-table{
        @include clearfix;
        padding: 3px 12px;
        dt,dd{
            font-size: 1.143rem;
        }
        dt{
            float: left;
            color: #666;

        }
        dd{
            float: right;
        }
    }
}
.dl-vertical-row{
    @include clearfix;
}
dl{
    &.result-price{
        position: relative;
        display: table;
        width: 100%;
        margin-top: 10px;
        dt,dd{
            line-height: 20px;
        }
        dt{
            font-size: 0.857rem;
            color: $rec-textColor-light;
            font-weight: 700;
        }
        .btn.txt{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &.dl-horizen{
        @include clearfix;
        dt{
            float: left;
        }
        dd{
            float: right;
            color: #888;
        }
    }
    &.dl-vertical{
        float: left;
        margin-top: 20px;
        margin-bottom: 8px;
        &+.dl-vertical{
            margin-left: 20px;
        }

        dt{
            color: #888;
            font-size: 0.857rem;

        }
        dd{
            font-weight: 600;
            font-size: 1.286rem;
        }
    }
}
.join-main{
    // height: 100vh;
    .logo{
        width: 212px;
        height: 34px;
        margin-bottom: 36px;
    }
    .img-main{
        margin: 86px 0 98px;
    }
    .vertical-layout{
        min-height: 100vh;
    }
    .app-section:last-child{
        padding-bottom: 30px;
    }
    .fix-inner{
        bottom: 20px;
    }
}
.terms-box{
    overflow: auto;
    margin-top: 8px;
    max-height: 136px;
    padding: 18px;
    background-color: rgba($rec-bg,0.5);
    border: 1px solid $rec-line-light;
    @include rounded(4px);

    p{
        color: #666;
        line-height: 1.5;
    }
    &+.input-item{
        margin-top: 10px;
    }
    &.norounded{
        border-radius: 0;
        max-height: inherit;
        overflow: inherit;
    }
    &.memo{
        overflow: inherit;
        max-height: inherit;
        p{
            font-size: 1.143rem;
            line-height: 1.6;
        }
    }
}
.null{
    display: table;
    width: 100%;
    text-align: center;
    &+.btn{
        margin-top: -26px;
    }
    &.fix{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }
    &-inner{
        display: table-cell;
        vertical-align: middle;
    }

    p{
        margin-top: 40px;
        color: #888;
        font-size: 1rem;
        &.sm{

        }
    }
}
.app-main{
    .logo{
        width: 153px;
        height: 24px;
        margin-bottom: 36px;
    }
    .null{
        padding: 60px 0;
        p{

        }
    }
}
.img-main{
    margin: 72px 0 50px;
    padding: 0 12px;
    text-align: center;
    img{
        display: block;
        margin: auto;
        &.ani{
            animation: bounce .5s ease-out alternate infinite;
            z-index: 10;
        }
    }
}
.main-slider{

    .img-main{
        margin: 0;
        padding-top: 72px;
    }
    .slick-dots{
        *zoom: 1;
        display: inline-block;
        &:after{
            content:'';
            display: block;
            clear: both;
        }
        &-box{
            text-align: center;
            margin-top: 18px;
        }
        li{
            float: left;
            &.slick-active{
                button{
                    background: $rec-primary;
                }
            }
            button{
                width: 6px;
                height: 6px;
                background: #cecece;
                border-radius: 50%;
                text-indent: -9999px;
            }
            &+li{
                margin-left: 6px;
            }
        }
    }
}
.scroll-ui-bar{
    background: #fff;
    transition: all .4s;
    .tit-txt{
        line-height: 1.4;
    }
    .btn-group{
        @include clearfix;
    }
    .btn-item{
        margin-top: 20px;
    }
    &.fix{
        padding-top: 16px;
        padding-bottom: 16px;
        position: fixed;
        width: 100%;
        top: 53px;
        z-index: 9;
        .btn-item{
            display: inline-block;
            float: left;
            margin-top: 10px;
            &+.btn-item{
                float: right;
            }
        }
    }
}
@keyframes bounce{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        transform: translate3d(0, -5px, 0);
    }
}

/*******************************************
*    Library
********************************************/
.ui-widget{
    @include fontStyle;
}
.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {
     color:#ff6b6b;
     &.ui-state-active{
         color: #fff;
     }
 }
.ui-datepicker{
    border-radius: 4px;
    border: 1px solid $rec-line-light;
    .ui-widget-header{
        background: none;
        border: none;
        padding: 0;
        .ui-datepicker-title{
            margin: 0;
            @include clearfix;
        }
        .ui-datepicker-title,.ui-datepicker-title span{
            color: $rec-textColor;
            font-size: 1.429rem;
            font-weight: 700;
            padding-left: 8px;
        }
        .ui-datepicker-next,
        .ui-datepicker-prev{
            display: none;
        }
    }
    td{
        color: $rec-textColor;
        padding: 0;
    }
    th{
        font-size: 1rem;
        font-weight: 400;
        color: #888;
        opacity: 0.5;
        padding: 3px 0;
    }
    .ui-state-default{
        &.ui-state-highlight{
            background: $rec-bg-dark;
            border-radius: 50%;
            color: #fff;
            &.ui-state-hover{
                opacity: 1;
            }

        }
        &.ui-state-active{
            background: $rec-primary;
            border-radius: 50%;
            color: #fff;
            &.ui-state-hover{
                opacity: 1;
            }
        }
        &.ui-state-hover{
            opacity: 0.5;
        }
        padding: 0;
        font-size: 1rem;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: none;
        background: none;
        text-align: center;
    }
    select.ui-datepicker-month,
    select.ui-datepicker-year{
        color: $rec-textColor;
        font-weight: 700;
        border: none;
        width: auto;
        float: left;
        padding-left:0;
        padding-right: 30px;
        margin-right: 10px;
    }
    select.ui-datepicker-year{

    }
    select.ui-datepicker-month{

    }
}
.datepicker-page{
    .datepicker{
        width: 100%;
        .ui-datepicker-inline{
            width: 100%;
            border: none;
            border-radius: 0;
            padding: 0;
        }
    }
}


/*******************************************
*    MYPAGE
********************************************/
#container{
    &.mypage-container{
        .app-section{
            padding: 0 18px;
            .app-inner{
                padding: 10px 0 0;
            }
            ul{
                &.link-lst{
                    li{
                        padding: 0;
                        &.user-cont{
                            padding: 0;
                            a{
                                padding: 17px 0 27px;
                            }
                        }
                        a{
                            padding: 17px 30px 17px 0;
                            word-break: keep-all;
                        }
                    }
                }
                li{
                    position: relative;
                    padding: 17px 0;
                    color: $rec-textColor;
                    font-size: 1.286rem;
                    font-weight: 700;
                    border-bottom: 1px solid $rec-bg;
                    &.user-cont{
                        padding: 17px 0 27px;
                        a{
                            font-size: 1.429rem;
                            span{
                                margin-left: 4px;
                                color: $rec-textColor-light;
                                font-size: 1.000rem;
                                font-weight: 400;
                                text-decoration: underline;
                            }
                        }
                    }
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: $rec-textColor;
                    }
                    .switch{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -12px;
                    }
                }
            }
        }
    }
}


.down-slide{
    li{
        &.on{
            a{
                &:before{
                    transform: rotate(-90deg);
                    content: "";
                }
            }
        }
        a{
            font-size: 1.143rem;
            font-weight: 700;
            &:before{
                position: absolute;
                top: 23px;
                right: 11px;
                width: 10px;
                height: 18px;
                background: url(../images/ico-arrow-r.png) no-repeat 0 0;
                background-size: contain;
                transform: rotate(90deg);
                transition: all .4s;
                content: "";
            }
        }
        .down-slide-inner{
            display: none;
            overflow: hidden;
            padding-bottom: 20px;
            p{
                font-size: 1.143rem;
                font-weight: 400;
                word-break: keep-all;
            }
        }
    }
}

.zd-service{
    margin-top: 30px;
    p{
        span{
            display: block;
            line-height: 1.9;
            font-size: 1.000rem;
            &+span{
                margin-top: 26px;
            }
        }
    }
}


/*******************************************
*    분석내역
********************************************/
.profit-box{
    margin-top: 20px;
    padding: 20px;
    background-color: #fcfcfc;
    @include rounded(4px);
    dl{
        @include clearfix;
        &+dl{
            margin-top: 4px;
        }
        dt{
            float: left;
            font-size: 1.143rem;
        }
        dd{
            float: right;
            font-size: 1.286rem;
        }
    }
    &+.norounded{
        margin-top: 20px;
    }
    &+p{
        margin-top: 10px;
        color: #888;
    }
    ul{
        @include clearfix;
        li{
            float: left;
            width: calc(100% / 3);
            text-align: center;
            >span{
                color: #888;
                font-size: 1rem;
                font-weight: 700;
                &:before{
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto 2px;
                    background-repeat: no-repeat;
                    content: "";
                }
                &+p{
                    font-size: 1.143rem;
                    font-weight: 700;
                    span{
                        font-size: 0.857rem;
                        font-weight: 400;
                    }
                }
            }
            &.money{
                >span{
                    &:before{
                        background-image: url(../images/ico-money.png);
                        background-size: contain;
                    }
                }
            }
            &.calendar{
                >span{
                    &:before{
                        background-image: url(../images/ico-calendar.png);
                        background-size: contain;
                    }
                }
            }
            &.value{
                >span{
                    &:before{
                        background-image: url(../images/ico-value.png);
                        background-size: contain;
                    }
                }
            }
        }
    }
    &+.tbl.primary{
        margin-top: 30px;
    }
}

.sum-box{
    margin-top: 30px;
    padding: 30px;
    background-color: $rec-bg;
    border: 1px solid $rec-line-light;
    @include rounded(4px);
    dl{
        &.profit{
            margin-top: 14px;
            dt,dd{
                color: $rec-primary !important;
                font-weight: 700;
            }
            dt{
                font-size: 1.143rem;
            }
            dd{
                font-size: 1.286rem;
            }
        }
        dt{
            &:first-child{
                margin-top: 0;
                font-weight: 700;
                &+dd{
                    margin-top: 0;
                    color: $rec-textColor;
                    font-weight: 700;
                }
            }
        }
        dd{
            float: right;
        }
        dt,dd{
            display: inline-block;
            color: $rec-textColor-light;
            font-size: 1.143rem;
            margin-top: 5px;
        }
    }
}

.norounded{
    ul{
        @include clearfix;
        li{
            float: left;
            width: 50%;
            p{
                text-align: center;
                span{
                    display: block;
                    margin-top: 10px;
                    color: $rec-textColor;
                    font-weight: 700;
                }
            }
        }
    }
}

.box-tbl{
    margin-top: 20px;
    table{
        tr{
            th,td{
                padding: 4px 0;
            }
        }
    }
}
.hide-cont{
    &.on{
        .hide-box{
            display: block;
        }
    }
}
.hide-box{
    display: none;
    padding: 16px 18px;
    background-color: $rec-bg;
    border: 1px solid $rec-line-light;
    @include rounded(4px);
    dl{
        dt,dd{
            display: inline-block;
            font-size: 1rem;
        }
        dt{
            min-width: 58px;
            color: #888;
        }
    }
}

.map-container{
    margin-top: 30px;
    iframe{
        width: 100%;
        height: 240px;
    }
}

.like-tbl{
    @include clearfix;
    .col{
        float: left;
        font-size: 1.143rem;
        letter-spacing: -1px;
        &:not(.fix){
            width: calc(52% / 2);
            text-align: left;
        }
        &:not(.fix){
            text-align: center;
        }
        &.fix{
            width: 44%;
        }
        .inner{
            overflow:hidden;
            position: relative;
            text-overflow:ellipsis;
            white-space:nowrap;
            &+.inner{
                margin-top: 10px;
            }
        }
        >p{
            margin: 18px 0 6px;
            text-align: center;
            color: #888;
            font-size: 1rem;
        }
        &+.col{
            margin-left: 6px;
        }
        &.arrow{
            text-align: right;
            a{
                padding-right: 20px;
                color: $rec-textColor;
            }
            span{
                position: absolute;
                top: 14px;
                right: -6px;
                width: 16px;
                height: 20px;
                vertical-align: middle;
                &:before{
                    display: block;
                    width: 8px;
                    height: 14px;
                    margin-top: -7px;
                    background: url(../images/ico-arrow-r.png) no-repeat center;
                    background-size: contain;
                    transform: rotate(90deg);
                    content: "";
                }
            }
        }
    }
    input[type="checkbox"]{
        &+label{
            &:before{
                width: 16px;
                height: 16px;
                margin-right: 4px;
                background: url(../images/check-tetragon-off.png) no-repeat 0 0;
                background-size: contain;
            }
        }
        &:checked{
            &+label{
                &:before{
                    background: url('../images/check-tetragon-on.png') no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}


/*******************************************
*    POPUP
********************************************/
.popup-container{
    .dim{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        filter: blur(0.4);
        opacity: .95;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
        filter: alpha(opacity=90);
        opacity: 0.95;
        z-index: 99998;
    }
    .popup-cont{
        position: fixed;
        top: 50%;
        right: 0;
        left: 0;
        width: calc(100% - 40px);
        height: auto;
        margin: auto;
        background-color: #fff;
        @include rounded(4px);
        overflow: hidden;
        z-index: 99999;
        &.basic{
            .cont-inner{
                padding: 40px 23px;
                p{
                    line-height: 1.5;
                    text-align: center;
                    font-size: 1.143rem;
                    strong{
                        display: block;
                        font-size: 1.286rem;
                    }
                    span{
                        display: block;
                        margin-top: 20px;
                    }
                    &+.input-item{
                        margin-top: 20px;
                    }
                }
            }
        }
        &.start{
            .cont-inner{
                padding: 40px 20px 30px;
            }
            .input-item{
                margin-top: 32px;
                padding-right: 10px;
                label{
                    font-size: 1.286rem;
                }
                >p{
                    margin-top: 12px;
                    padding-left: 28px;
                    color: $rec-textColor-light;
                    font-size: 1.000rem;
                    span{
                        display: block;
                        margin-top: 18px;
                    }
                }

            }
            .profile-cont{
                .profile-img{
                    overflow: hidden;
                    position: absolute;
                    top: 40px;
                    left: 20px;
                    width: 52px;
                    height: 52px;
                    background-color: #d8d8d8;
                    @include rounded(50%);
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
                >p{
                    display: table-cell;
                    height: 52px;
                    padding-left: 66px;
                    line-height: 1.3;
                    font-size: 1.429rem;
                    font-weight: 700;
                    vertical-align: middle;
                    span{
                        display: block;
                        font-size: 1.143rem;
                        font-weight: 400;
                    }
                }
            }
        }
        &.loan{
            .cont-inner{
                padding: 30px 18px 20px;
            }
            .cont-inner{
                >img{
                    height: 26px;
                    margin-bottom: 12px;
                }
                ul{
                    li{
                        &+li{
                            margin-top: 8px;
                        }
                        p{
                            font-size: 1.143rem;
                            span,strong{
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .input-item{
                    margin-top: 24px;
                    label{
                        b{
                            font-size: 1.143rem;
                        }
                    }
                }
            }
            textarea{
                @include rounded(0);
                font-size: 1rem;
            }
        }
        &.cal{
            padding: 40px 20px 20px;
            margin-top: 0;
            width: 100%;
            top: auto;
            bottom: 0;
            @include rounded(4px 4px 0 0);
            .tit-txt{
                padding-left: 8px;
                margin-bottom: 10px;
            }
            .row{
                .column{
                    padding-right: 4px;
                    .btn{
                        @include rounded(4px);
                    }
                    &+.column{
                        padding-left: 4px;
                        padding-right: 0;
                    }
                }
            }
            .select-date{
                border: none;
                text-align: center;
                color: $rec-textColor-light;
                margin-bottom: 10px;
            }
        }
    }
    .input-item{
        label{
            font-size: 1rem;
        }

    }

    .row{
        .btn{
            border-radius: 0;
            float: left;
            font-size: 1.143rem;
        }
    }
    .btn{

    }
}


/*******************************************
*    GRAPH
********************************************/
.graph-container{
    min-height: 300px;
    border: 1px solid red;
}



/*******************************************
*    HOME
********************************************/
.detail-cont{
    dl{
        dt,dd{
            display: inline-block;
            font-size: 1.143rem;
            letter-spacing: -1px;
        }
        dt{
            min-width: 100px;
            color: #888;
        }
    }
    p{
        font-size: 1.143rem;
    }
    .sub-txt{
        margin-top: 10px;
        color: #888;
        font-size: 1rem;
    }
}

.check-block{
    display: none;
    &.on{
        display: block;
    }
}




.fc-primary{
    color: $rec-primary !important;
}


.coach-mark{
    display: none;
    position:fixed;
    z-index:99998;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    filter:blur(10);
    .desc{
        color: #fff;
        font-size: 1.286rem;
        position: fixed;
    }
    .header-sub{
        .desc{

            right: 16px;
            top: 113px;
        }
        .txt-link-like{
            position: absolute;
            top: 0;
            right: 18px;
            height: 52px;
            line-height: 52px;

            i{
                color: #fff;
                font-size: 1.143rem;
                position: relative;
                z-index: 12;
                font-style: normal;
            }
            &:after{
                content: '';
                display: block;
                background: url('../images/coach-guide-touch.png') no-repeat;
                background-size: contain;
                width: 78px;
                height: 104px;
                position: absolute;
                top: 3px;
                right: -9px;
                animation: bounce .5s ease-out alternate infinite;
                z-index: 10;
            }
        }
    }
    .scenario{
        .desc{
            left: 50px;
            top: 343px;
        }
        margin-top: 236px;
        position: relative;
        select{
            pointer-events: none;
        }
        &:after{
            content: '';
            display: block;
            background: url('../images/coach-guide-move.png') no-repeat;
            background-size: contain;
            width: 48px;
            height: 63px;
            position: absolute;
            top: 40px;
            right: 0;
            left: 0;
            margin: auto;
            animation: bounce .5s ease-out alternate infinite;
            z-index: 10;
        }
    }

    img{
        width: 100%;
        vertical-align: top;
    }
}
.pdb20{
    padding-bottom: 20px;
}
/**/
