@charset "UTF-8";

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
dl,ul,ol,menu,li {list-style:none}
address, caption, cite, code, dfn, em, var {font-style:normal;}
img,fieldset,iframe {border:0 none}
img {max-width: 100%;height: auto;-webkit-backface-visibility: hidden;}
audio,canvas,iframe,img,svg,video {vertical-align: middle;}
input,select,textarea,button {vertical-align:middle}
textarea {resize:none}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {border-radius:0;-webkit-appearance:button}
input[type="image"], input[type="text"], input[type="submit"], input[type="password"], input[type='search'] {border-radius:0;-webkit-appearance:none}
input:checked[type='checkbox'] {-webkit-appearance:checkbox;background-color:transparent}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
table {border-collapse:collapse;border-spacing:0;empty-cells:show}
// caption,legend {position:absolute;top:-9999px;left:-9999px;font-size:0px;line-height:0}
caption,legend {visibility:hidden;overflow: hidden;width:0;height:0;font-size: 0;line-height: 0;}
a {text-decoration:none;select-dummy:expression(this.hideFocus=true)}
// a:active {background-color:transparent}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,button {/* font family, letter-spacing etc...*/}
hr {display:none}
textarea, input{-webkit-apperence: none;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,main,menu {display:block}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
sup, sub{line-height: 0;}
html, body {width:100%;}
ul:after, ol:after{content:'';clear:both;display:block}
