$rec-primary: #2a74e4;
$rec-secondary: #f5faff;
$rec-textColor : #333333;
$rec-textColor-light : #666666;
$rec-line-light: #eaeaea;
$rec-line: #e8e8e8;
$rec-bg: #f8f8f8;
$rec-bg-dark: #000;
$rec-line-white: #f8f8f8;



@mixin clearfix{
    *zoom: 1;
    display: block;
    &:after{
        content:'';
        display: block;
        clear: both;
    }
}

@mixin hide{
    display: block;
    text-indent:-9999px;
    font-size:0;
}

@mixin fontStyle{
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}


@mixin rounded($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($property){
    -webkit-transition: $property .3s ease;
    -moz-transition: $property .3s ease;
    -o-transition: $property .3s ease;
    transition: $property .3s ease;
}

@mixin placeholder-color ($color, $opacity) {
    &::-webkit-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
    &:-moz-placeholder {
        color: $color;
        opacity: $opacity;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: $opacity;
    }
    &:-ms-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
}

@mixin shadow($x, $y, $blur, $color){
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}
