<div class="btm-bar">
    <nav class="gnb">
        <ul class="row col-4">
            <!-- on 클래스추가로 스타일 활성화 -->
            <li class="column home"><a href="#"><span>홈</span></a></li>
            <li class="column results on"><a href="#"><span>분석 내역</span></a></li>
            <li class="column loan"><a href="#"><span>대출 신청</span></a></li>
            <li class="column my"><a href="#"><span>마이 페이지</span></a></li>
        </ul>
    </nav>
</div>
