<footer>
    <div class="app-inner">
        <div class="logo"><img src="assets/images/logo-black.png" alt="ZIPADVISOR"></div>
        <ul>
            <li>
                주식회사 집펀드  |  대표 : 남성태
            </li>
            <li>
                사업자 등록번호 : 286-86-00253
            </li>
            <li>
                서울특별시 강남구 테헤란로5길 7 KG타워 10층
            </li>
            <li>
                이메일 : info@zipfund.co
            </li>
            <li>
                대표전화 : 02-553-6369 | 팩스 : 02-6280-6369
            </li>
        </ul>

        <ul>
            <li>
                © ZIPFUND. ALL RIGHTS RESERVED.
            </li>
            <li>
                ZIPADVISOR은 해상도 122*1123에 최적화 되어 있습니다.
            </li>
        </ul>
    </div>
</footer>
