<head>
    <title>ZIPADVISOR</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="title" content="ZIPADVISOR" />
    <meta name="format-detection" content="telephone=no">


    <!-- TODO: library -->
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/jquery-ui.js"></script>
    <link rel="stylesheet" href="assets/css/lib/jquery-ui.css">
    <!-- 0212 추가 -->
    <link rel="stylesheet" href="assets/css/lib/slick.css">
    <script src="assets/js/lib/slick.js"></script>
    <link rel="stylesheet" href="assets/css/lib/ion.rangeslider.css">
    <script src="assets/js/lib/rangeslider.min.js"></script>
    <script src="assets/js/lib/rangeSliderCustom.js"></script>

    <!-- TODO: import -->
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/scripts.js"></script>

    <!--[if lt IE 9]>
    <script src="assets/js/lib/html5shiv.js"></script>
    <script src="assets/js/lib/placeholders.js"></script>
    <![endif]-->
</head>
