<header class="header fixed">
    <h1>ZIPADVISOR</h1>
    <div class="header-sub app-inner">
        <h2>
            <a href="#" class="back"></a>
        </h2>
        <a href="#" class="txt-link"></a>
    </div>
</header>
