<header class="header fixed">
    <h1>ZIPADVISOR</h1>
    <div class="header-sub app-inner">
        <h2>
            <a href="#" class="back"></a>
            <a href="#" class="ico-help">help</a>
        </h2>
        <a href="#" class="txt-link"></a>
    </div>
</header>

<div class="coach-mark">
    <div class="header-sub app-inner">
        <span class="txt-link-like">
            <i>수정하기</i>
        </span>

        <p class="desc">본인의 상황에 맞게<br />
            새로운 시나리오를<br />
            구성할 수 있습니다.</p>
    </div>

    <div class="app-inner scenario">
        <div class="input-item color-ipt">
            <select class="etc-slt" name="">
                <option value="">2년 후 매매 시세 10% 상승 후 매각</option>
            </select>
            <p class="desc">
                향후 의사결정을 위한<br />
                시나리오를 구성할 수 있습니다.<br />
                예시를 선택해 내용을 살펴보세요.
            </p>
        </div>
    </div>
    <!-- <img src="assets/images/coach-mark.png" alt=""> -->
</div>
